{% extends "base_user.html" %}
{% load static %}

{% block head_content %}
<title>Nuevo Proyecto</title>

<link href="/files/css/selectize.css" rel="stylesheet">
<link href="{% static 'css/selectize.default.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'static/js/selectize.js' %}"></script>

{% endblock %}

{% block titulo %}Nuevo Proyecto{% endblock%}


{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

                {% csrf_token %}

                {{ form }}
                {% if form.errors %}
                    <p class="alert alert-danger">{{ form.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="addpro_enviar"class="btn btn-primary btn-block mt-5">Enviar</button>
            


        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
<script type="text/javascript">
//add_proyecto----------------------------------------------------------------
$('#addpro_enviar').on('click', function()  {
var data_form = {
            nombre: $("#id_nombre").val(),
            usuario: $("#id_usuario").val(),
            cliente: $("#id_cliente").val(),
            categoria: $("#id_categoria").val(),
            detalles: $("#id_detalles").val(),
            monto: $("#id_monto").val(),
        }
    $.ajax({
        url: '/ajax_add_proyecto',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        if(data.success == 1){
            window.location.href = "detail_proyecto/"+data.id;
        }
        
        
        
  //funcion add
   $('.add_proyect').append('<div><input'+data.nombre+'><input>'+data.usuario+'><input'+data.categoria+'><input'+data.detalles+'></div>');
        
        

                    }
      });

       
});
</script>

{% endblock %}



