{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

   {{ formpa }}
                {% if formpa.errors %}
                    <p class="alert alert-danger">{{ formpa.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
            </form>


        </div>
    </div>
</div>

{% endblock %}