{% extends "base_user.html" %}
{% load static %}

{% block head_content %}
<link href="/files/css/selectize.css" rel="stylesheet">
<link href="{% static 'css/selectize.default.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'static/js/selectize.js' %}"></script>

{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'add_servicio' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

   {{ formser }}
                {% if formser.errors %}
                    <p class="alert alert-danger">{{ formser.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
            </form>


        </div>
    </div>
</div>

{% endblock %}

<script type="text/javascript">
$('#id_categoria').selectize({
           maxItems:15,
           plugins: ['remove_button'],
           delimiter: ',',
           persist: false,
           create: false
       });

</script>

