{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

<row>
 <h3>Proyecto</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Categoria</th>
                  <th>Usuario</th>
                  <th>Detalles</th>
                  <th>Detalle</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{proyecto.nombre}}</td>
                  <td>{{proyecto.categoria}}</td>
                  <td>{{proyecto.usuario}}</td>
                  <td>{{proyecto.detalles}}</td>
                  <td><a href="/edit_proyecto/{{proyecto.pk}}">Editar</a></td>

                </tr>

              </tbody>
            </table>
          </div>

</row>



<row>
   <h3>Lista de publicidad del Proyecto</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Estado</th>
                  <th>Nombre</th>
                  <th>Empresa</th>
                  <th>id-publicidad</th>
                   <th>promocion</th>
                   <th>Detalle</th>
                </tr>
              </thead>
              <tbody>
{% for proyectopublicidad in publicidad %}
                <tr>
                  <td>{{proyectopublicidad.estado}}</td>
                  <td>{{proyectopublicidad.nombre}}</td>
                  <td>{{proyectopublicidad.empresa}}</td>
                  <td>{{proyectopublicidad.idpublicidad}}</td>
                  <td>{{proyectopublicidad.promocion}}</td>
                  <td><a href="/edit_publi/{{proyectopublicidad.pk}}">Editar</a></td>
                  
{% endfor %} 
              </tbody>
            </table>
          </div>
</row>

<row>
            <h3>Agregar Publicidad</h3>
<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

   {{ form }}
                {% if form.errors %}
                    <p class="alert alert-danger">{{ form.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
            </form>


        </div>
    </div>
</div>
</row>








{% endblock %}