{% extends "base_user.html" %}
{% load static %}
{% load avance %}
{% block head_content %}
<title>Detalle de Proyecto</title>
{% endblock %}

{% block titulo %}Detalle de Proyecto{% endblock%}

{% block container %}


            <div class="row">
               <div class="col-xl-9">
                  <!-- Main card-->
                  <div class="card b">
                     <div class="card-header">
                        <div class="float-right mt-2">
                           <div class="badge badge-info">{{proyectos.get_estado_display}}</div>
                        </div>
                        <h4 class="my-2"><span>{{proyectos.nombre}}</span></h4>
                     </div>
                     <div class="card-body bb bt">
                      
                     </div>
                     <div class="card-body">
                        <h4>Descripción</h4>
                        <p>{{proyectos.detalles}}</p>
                       
                     </div>
                    
                  </div><!-- End Main card-->
                 

          <div class="row">
               <div class="col-xl-12"><!-- colum 6-->

                  <!-- Team messages-->
                  <div class="card card-default">
                     <div class="card-header">
                        <div class="px-2 float-right badge badge-danger">-</div>
                        <div class="card-title">Discusiones</div>
                     </div><!-- START list group-->
                     <div class="list-group slimScrollDiv" data-height="280" data-scrollable="">
                  

                  <div class="tdiscu">
                  {% for discusion in discusiones %}

 <!-- START list group item-->
                         <a href="#"><div class="list-group-item list-group-item-action">
                           <div class="media">
                             <div class="media-body text-truncate">
                                 <p class="mb-1"><strong class="text-primary"><span class="circle bg-danger circle-lg text-left"></span><span>{{discusion.usuario.first_name}} {{discusion.usuario.last_name}}</span></strong></p>
                                 <p class="mb-1 text-sm">{{discusion.asunto}}</p>
                              </div>
                              <div class="ml-auto"><small class="text-muted ml-2"> {{discusion.fecha}}</small></div>
                           </div>
                        </div></a><!-- END list group item-->


              
{% endfor %} 

</div>
                     </div><!-- END list group-->
                     <!-- START card footer-->
                     <div class="card-footer">
                        <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#adddiscusion"> Agregar Discusion</button>
                     </div><!-- END card-footer-->
                  </div><!-- End Team messages-->
                   </div><!-- endcolum 6-->

       <div class="col-xl-6"><!--  Start colum 6-->
                  <!-- Team messages-->
                  <div class="card card-default">
                     <div class="card-header">
                        <div class="px-2 float-right badge badge-danger">-</div>
                        <div class="card-title">Tareas</div>
                     </div><!-- START list group-->
                     <div class="list-group slimScrollDiv" data-height="180" data-scrollable="">
                  

                  <div class="tdiscu">
                {% for tarea in tareas %}

 <!-- START list group item-->
                         <a href="/tarea_proyecto/{{proyectos.pk}}"><div class="list-group-item list-group-item-action">
                           <div class="media">
                             <div class="media-body text-truncate">
                                 <p class="mb-1"><strong class="text-primary"><span class="circle bg-danger circle-lg text-left"></span><span>{{tarea.titulo}}</span></strong></p>
                                 <p class="mb-1 text-sm">{{tarea.detalles|truncatechars:50 }}</p>
                              </div>
                              <div class="ml-auto"><div class="badge p-1 bg-gray">{{tarea.get_estado_display}}</div> <small class="text-muted ml-2"> {{tarea.fechav}}</small></div>
                           </div>
                        </div></a><!-- END list group item-->


              
{% endfor %} 
</div>
                     </div><!-- END list group-->
                     <!-- START card footer-->
                     <div class="card-footer">
                         <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#task"> Agregar Tarea</button>
                     </div><!-- END card-footer-->
                  </div><!-- End Team messages-->
                   </div><!-- END colum 6-->




<div class="col-xl-6"><!-- colum 6-->

                  <!-- Team messages-->
                  <div class="card card-default">
                     <div class="card-header">
                        <div class="px-2 float-right badge badge-danger">-</div>
                        <div class="card-title">Servicios Contratados</div>
                     </div><!-- START list group-->
                     <div class="list-group slimScrollDiv" data-height="180" data-scrollable="">


                  <div class="tdiscu">
                  {% for serviciosextras in servicios %}

 <!-- START list group item-->
                         <a href="#"><div class="list-group-item list-group-item-action">
                           <div class="media">
                             <div class="media-body text-truncate">
                                 <p class="mb-1"><strong class="text-primary"><span class="circle bg-danger circle-lg text-left"></span><span>{{serviciosextras.titulo}}</span></strong></p>
                                 <p class="mb-1 text-sm">Descripción: {{serviciosextras.descripcion}}</p>
                                 <p class="mb-1 text-sm">Monto: ${{serviciosextras.costo}}</p>
                              </div>
                              <div class="ml-auto"><small class="text-muted ml-2"> {{serviciosextras.fecha}}</small></div>
                           </div>
                        </div></a><!-- END list group item-->


              
{% endfor %} 

</div>
                     </div><!-- END list group-->
                     <!-- START card footer-->
                     <div class="card-footer">
                          <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#addservicio"> Agregar Servicio</button>
                     </div><!-- END card-footer-->
                  </div><!-- End Team messages-->
                   </div><!-- endcolum 6-->
                   

                    </div>





          <div class="row"> <!-- ROW 2-->

               

       <div class="col-xl-6"><!--  Start colum 6-->
                  <!-- Team messages-->
                  <div class="card card-default">
                     <div class="card-header">
                        <div class="px-2 float-right badge badge-danger">-</div>
                        <div class="card-title">Pagos</div>
                     </div><!-- START list group-->
                     <div class="list-group slimScrollDiv" data-height="180" data-scrollable="">
                  


                  <div class="tdiscu">
               
{% for pagosproyecto in pagos %}

 <!-- START list group item-->
                         <a href="/edit_pagopro/{{pagosproyecto.pk}}/"><div class="list-group-item list-group-item-action">
                           <div class="media">
                            <div class="media-body text-truncate">
                                
                                 <p class="mb-1 text-sm"><span class="circle bg-danger circle-lg text-left"></span>Comentario: {{pagosproyecto.comentario}}</p>
                                 <p class="mb-1 text-sm">Monto: ${{pagosproyecto.monto}}</p>
                              </div>
                              <div class="ml-auto"><div class="badge p-1 bg-gray">{{pagosproyecto.get_estatus_display}}</div> <small class="text-muted ml-2"> {{pagosproyecto.fecha}}</small></div>
                           </div>
                        </div></a><!-- END list group item-->


              
{% endfor %} 
</div>
                     </div><!-- END list group-->
                     <!-- START card footer-->
                     <div class="card-footer">
                         <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#addpagoo"> Agregar Pago</button>
                     </div><!-- END card-footer-->
                  </div><!-- End Team messages-->
                   </div><!-- END colum 6-->




                    </div>



               </div>
               <div class="col-xl-3">
                  <!-- Aside card-->
                  <div class="card b">
                     <div class="card-body bb">
                        <div class="clearfix">

                          <div class="row">
                           <div class="col-md-7"><select id="estatus_id" class="custom-select custom-select-sm">
                                 <option selected="">Estado</option>
                                 <option value="1">Pendiente</option>
                                 <option value="2">Proceso</option>
                                 <option value="3">Completado</option>
                                 <option value="4">Cancelado</option>
                                 <option value="5">Cancelado Definitivo (No contactar)</option>
                              </select>
                            </div>

                               <div class="col-md-2">
                             <button class="btn btn-primary" id="button_change_status" type="submit">Cambiar</button>
                              </div>
                          </div>

                        
                        </div>
                     </div>



                     <div class="card-body bb">
                        <div class="d-flex align-items-center">
                           <div class="w-100">
                              <div class="progress progress-xs m-0">
                                 <div class="progress-bar bg-info" style="width:{% avancetag proyectos.pk as avancet %} {{avancet | floatformat:2 }}%"></div>
                              </div>
                           </div>
                           <div class="wd-xxs text-right">
                            Avance
                              <div class="text-bold text-muted"> {% avancetag proyectos.pk as avancet %} {{avancet | floatformat:2 }}%</div>
                           </div>
                        </div>
                     </div>
                      <!--   <div class="card-body">
                        <ul class="list-inline my-2">
                           <li class="list-inline-item">
                              <div class="badge p-1 bg-warning">priority</div>
                           </li>
                           <li class="list-inline-item">
                              <div class="badge p-1 bg-gray">angularjs</div>
                           </li>
                           <li class="list-inline-item">
                              <div class="badge p-1 bg-gray">jquery</div>
                           </li>
                           <li class="list-inline-item">
                              <div class="badge p-1 bg-gray">gulp</div>
                           </li>
                           <li class="list-inline-item">
                              <div class="badge p-1 bg-gray">git</div>
                           </li>
                           <li class="list-inline-item">
                              <div class="badge p-1 bg-gray">ios</div>
                           </li>
                        </ul>
                     </div>-->
                     <table class="table">
                        <tbody>
<tr>
                          <td><strong>Categoría</strong></td>
                              <td>{{proyectos.categoria}}</td>
                        </tr>      
                           <tr>
                              <td><strong>Fecha de Creación</strong></td>
                              <td>{{proyectos.fecha}}</td>
                           </tr>
                           <tr>
                              <td><strong>Cliente</strong></td>
                              <td>{{proyectos.client}}</td>
                           </tr>
                           <tr>
                              <td><strong>Usuario</strong></td>
                              <td>{{proyectos.usuario}}</td>
                           </tr>
                       
                      

                           <tr>
                              <td><strong>Total</strong></td>
                              <td>{{proyectos.total}}</td>
                           </tr>

                            <tr>
                              <td><strong>Pagado</strong></td>
                              <td>{{proyectos.adelanto}}</td>
                           </tr>

                           <tr>
                              <td><strong>Restante</strong></td>
                              <td>{{proyectos.restante}}</td>
                           </tr>


                           <!-- <tr>
                                <td><strong>Members</strong></td>
                              <td>
                                 <p>Tara Sanders</p>
                                 <p>Alan Smith</p>
                                 <p>Priscilla Peters</p>
                                 <p>Madison Willis</p>
                                 <p>Lesa Marshall</p>
                                 <p>Kylie Freeman</p>
                              </td>
                           </tr>-->
                          


                        </tbody>
                     </table>


 <table class="table">
                        <tbody>
            
                          <td><strong>Archivos:</strong></td>

                      <tr>
                              
                              <td>
                                 <div class="list-group" data-height="110" data-scrollable="">
                                    <table class="table table-bordered bg-transparent">
                                       <tbody>
                                        {% for archivo in archivos %}

                                          <tr>
                                             <td><em class="fa-lg far fa-file-code"></em></td>
                                             <td><a class="text-muted" href="{{archivo.file.url}}" target="_blank">{{archivo.file.name}}</a></td>
                                          </tr>
                                         {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </td>
                           </tr>

                        </tbody>
                     </table>


                    
                  </div><!-- end Aside card-->
               </div>
            </div>

<!--
<row>
 <h3>Proyecto</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Categoria</th>
                  <th>Usuario</th>
                  <th>Detalles</th>
                  <th>Detalle</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{proyectos.nombre}}</td>
                  <td>{{proyectos.categoria}}</td>
                  <td>{{proyectos.usuario}}</td>
                  <td>{{proyectos.detalles}}</td>
                  <td><a href="/edit_proyecto/{{proyectos.pk}}">Editar</a></td>

                </tr>

              </tbody>
            </table>
          </div>

</row>
-->
<!--
<row>
<h3>Export Proyect</h3>
<a href="{% url 'export_proyect' %}">Export all Proyect</a>
</row>
<br>
<row>
<h3>Export Payment</h3>
<a href="{% url 'export_pagopro' %}">Export all Payment</a>
</row>-->


{% endblock %}


{% block footer %}

<div class="modal fade" id="adddiscusion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">Detalle Discusion</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">


        <div class="col-12" id="profile-box">

            
            {% csrf_token %}

   {{ formdis }}
                {% if formdis.errors %}
                    <p class="alert alert-danger">{{ formdis.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_enviar_dis" class="btn btn-primary btn-block mt-5">Enviar</button>
           


        </div>



          </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
         </div>
      </div>
   </div><!-- Modal -->
<div class="modal fade" id="addservicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">Detalle Servicio</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">


        <div class="col-6 p-4 formser"  id="profile-box">

         
                {% csrf_token %}

   {{ formser }}
                {% if formser.errors %}
                    <p class="alert alert-danger">{{ formser.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_enviar_servi" class="btn btn-primary btn-block mt-5">Enviar</button>
           



        </div>



          </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
         </div>
      </div>
   </div><!-- Modal -->
<div class="modal fade" id="addpagoo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">Detalle Pago</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">


       <div class="col-6 p-4 formp" id="profile-box">

           
                {% csrf_token %}

   {{ formpa }}
                {% if formpa.errors %}
                    <p class="alert alert-danger">{{ formpa.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_enviar_pago" class="btn btn-primary btn-block mt-5">Enviar</button>
            



        </div>



          </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
         </div>
      </div>
   </div><!-- Modal -->
<div class="modal fade" id="addpublicidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">Detalle Publicidad</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">


       <div class="col-6 p-4 addpubli" id="profile-box">

           
                {% csrf_token %}

   {{ formpu }}
                {% if formpu.errors %}
                    <p class="alert alert-danger">{{ formpu.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_enviar_publi" class="btn btn-primary btn-block mt-5">Enviar</button>
            
            



        </div>



          </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
         </div>
      </div>
   </div><!-- Modal -->
   <div class="modal fade" id="addcam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">Detalle Campa</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">


      <div class="col-6 p-4 addcampa" id="profile-box">

           
                {% csrf_token %}

   {{ formca }}
                {% if formca.errors %}
                    <p class="alert alert-danger">{{ formca.errors }}</p>
                {% endif %}



                <button type="submit" id="button_enviar_campa" class="btn btn-primary btn-block mt-5">Enviar</button>
            



        </div>



          </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
         </div>
      </div>
   </div><!-- Modal -->
   </div><!-- Modal -->
   <div class="modal fade" id="task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">Detalle Tarea</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">


      <div class="col-12 p-4 formtask" id="profile-box">

           
                {% csrf_token %}

   {{ formta }}
                {% if formta.errors %}
                    <p class="alert alert-danger">{{ formta.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_enviar_tarea" class="btn btn-primary btn-block mt-5">Enviar</button>
            



        </div>



          </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
         </div>
      </div>
   </div><!-- Modal -->


<style>

.list-group{
    position: relative;
   overflow: scroll;
    width: auto;
    height: 300px;
}</style>

<script type="text/javascript">
// guardar discusion-proyecto mediante ajax-----------------------------------------------------------
$('#button_enviar_dis').on('click', function()  {
    
    console.log('entro');
    
var data_form = {
            asunto: $("#adddiscusion #id_asunto").val(),
            descripcion: $("#adddiscusion  #id_descripcion").val(),
            usuario: $("#adddiscusion  #id_usuario").val(),
            proyecto: $("#adddiscusion  #id_proyecto").val(),
        }
    $.ajax({
        url: '/ajax_save_dis/{{proyectos.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        var asunto = data.asunto
        var descripcion = data.descripcion
        var usuario = data.usuario
        var proyecto = data.proyecto
        var id = data.idproyecto
        
  //funcion add
   //$('.tdiscu').append('<tr>'+id+'<td>'+data.asunto+'</td><td>'+data.descripcion+'</td><td>'+data.usuario+'</td><td>'+data.proyecto+'</td></tr>');

                  
        window.location.reload();   
        


        $('#id_asunto').val('');  //restablece form de id especificos
        $('#id_descripcion').val('');  //

        $('#adddiscusion').modal('hide')

                    }
      });

       
});
</script>

<script type="text/javascript">
//Edit_discusion----------------------------------------------------
$('#button_enviar_dis').on('click', function()  {

        var data_form = {
            asunto: $("#id_asunto").val(asunto),
            descripcion: $("#id_descripcion").val(descripcion),
            
        } 

        $.ajax({
        url: '/ajax_edit_dis/{{discusion.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);

        window.location.reload();       

        },

});    

});   
</script>
<script type="text/javascript">
// guardar servicio-proyecto mediante ajax-----------------------------------------------------------
$('#button_enviar_servi').on('click', function()  {

var data_form = {
            titulo: $("#addservicio #id_titulo").val(),
            descripcion: $("#addservicio  #id_descripcion ").val(),
            fecha: $("#addservicio  #id_fecha").val(), 
            costo: $("#addservicio  #id_costo").val(),
            proyecto: $("#addservicio  #id_proyecto").val(),
            tipo: $("#addservicio  #id_tipo").val(),
        }
    $.ajax({
        url: '/ajax_save_servicio/{{proyectos.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
         window.location.reload();       
        var titulo = data.titulo
        var descripcion = data.descripcion
        var costo = data.costo
        var proyecto = data.proyecto
        var idser = data.idservicio
        
  //funcion add
   //$('.addservi').append('<tr>'+idser+'<td>'+data.titulo+'</td><td>'+data.descripcion+'</td><td>'+data.fecha+'</td><td>'+data.costo+'</td><td>'+data.proyecto+'</td></tr>');
        


        $('#id_titulo').val('');  //restablece form de id especificos
        $('#id_descripcion').val('');  //
        $('#id_fecha').val('');  //restablece form de id especificos
        $('#id_costo').val('');  //

        $('#addservicio').modal('hide')
                    }
      });

       
});
</script>

<script type="text/javascript">
//Edit_Servicio----------------------------------------------------
$('#button_enviar_servi').on('click', function()  {

        var data_form = {
            titulo: $("#id_titulo").val(),
            descripcion: $("#id_descripcion ").val(),
            fecha: $("#id_fecha").val(), 
            costo: $("#id_costo").val(),
            
        } 

        $.ajax({
        url: '/ajax_edit_servicio/{{proyectos.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);

        window.location.reload();       

        },

});    

});   
</script>


<script type="text/javascript">
//Edit_Servicio----------------------------------------------------
$('#button_change_status').on('click', function()  {

        var data_form = {
            estatus_id: $("#estatus_id").val(),
        } 

        $.ajax({
        url: '/ajax_change_proyect_status/{{proyectos.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);

        window.location.reload();       

        },

});    

});   
</script>










<script type="text/javascript">
// guardar pagopro-proyecto mediante ajax-----------------------------------------------------------
$('#button_enviar_pago').on('click', function()  {

var data_form = {
            fecha: $("#addpagoo  #id_fecha").val(),
            monto: $("#addpagoo  #id_monto").val(),
            comentario: $("#addpagoo  #id_comentario").val(), 
            estatus: $("#addpagoo  #id_estatus").val(), 
            proyecto: $("#addpagoo  #id_proyecto").val(),
        }
    $.ajax({
        url: '/ajax_save_pagopro/{{proyectos.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        var fecha = data.fecha
        var monto = data.monto
        var comentario = data.comentario
        var estatus = data.estatus
        var proyecto = data.proyecto 
        var idpago = data.idpagopro
        
  //funcion add
   $('.addpago').append('<tr>'+idpago+'<td>'+data.fecha+'</td><td>'+data.monto+'</td><td>'+data.comentario+'</td><td>'+data.estatus+'</td><td>'+data.proyecto+'</td></tr>');
        


        $('#id_fecha').val('');  //restablece form de id especificos
        $('#id_monto').val('');  //
        $('#id_comentario').val('');  //restablece form de id especificos
        $('#id_estatus').val('');  //restablece form de id especificos
        

        $('#addpagoo').modal('hide')

                    }
      });

       
});
</script>

<script type="text/javascript">
//Edit_Pagopro----------------------------------------------------
$('#button_enviar_pago').on('click', function()  {

        var data_form = {
            fecha: $("#id_fecha").val(),
            monto: $("#id_monto").val(),
            comentario: $("#id_comentario").val(),
            estatus: $("#id_estatus").val(),
        } 

        $.ajax({
        url: '/ajax_edit_pagopro/{{proyectos.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);

        window.location.reload();       

        },

});    

});   
</script>



<script type="text/javascript">
// guardar publicidad-proyecto mediante ajax-----------------------------------------------------------
$('#button_enviar_publi').on('click', function()  {

var data_form = {
            estado: $("#addpublicidad  #id_estado").val(),
            nombre: $("#addpublicidad  #id_nombre").val(),
            empresa: $("#addpublicidad  #id_empresa").val(), 
            idpublicidad: $("#addpublicidad  #id_idpublicidad").val(),
            promocion: $(" #addpublicidad  #id_promocion").val(),
            proyecto: $("#addpublicidad  #id_proyecto").val(),
        }
    $.ajax({
        url: '/ajax_save_publi/{{proyectos.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        var estado = data.estado
        var nombre = data.nombre
        var empresa = data.empresa 
        var idpublicidad = data.idpublicidad
        var promocion = data.promocion
        var proyecto = data.proyecto
        var idpub = data.idpubli
        
  //funcion add
   $('.addpubli').append('<tr>'+idpub+'<td>'+data.estado+'</td><td>'+data.nombre+'</td><td>'+data.empresa+'</td><td>'+data.idpublicidad+'</td><td>'+data.promocion+'</td><td>'+data.proyecto+'</td></tr>');
        


        $('#id_estado').val('');  //restablece form de id especificos
        $('#id_nombre').val('');  //
        $('#id_empresa').val('');  //restablece form de id especificos
        $('#id_idpublicidad').val('');  //restablece form de id especificos
        $('#id_promocion').val('');  //
        
        $('#addpublicidad').modal('hide')

                    }
      });

       
});
</script>

<script type="text/javascript">
//Edit_Publi----------------------------------------------------
$('#button_enviar_publi').on('click', function()  {

        var data_form = {
            estado: $("#id_estado").val(),
            nombre: $("#id_nombre").val(),
            empresa: $("#id_empresa").val(), 
            idpublicidad: $("#id_idpublicidad").val(),
            promocion: $("#id_promocion").val(),
            
        } 

        $.ajax({
        url: '/ajax_edit_publi/{{proyectos.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);

        window.location.reload();       

        },

});    

});   
</script>



<!-- // guardar tarea-proyecto mediante ajax-->
<script type="text/javascript">
$('#button_enviar_tarea').on('click', function() {
var data_form = {
            titulo: $("#task  #id_titulo").val().trim(),
            detalles: $("#task  #id_detalles").val().trim(),
            fechav: $("#task #id_fechav").val().trim(),
            estado: $("#task  #id_estado").val().trim(),
            prioridad: $("#task  #id_prioridad").val().trim(),
            orden: $("#task  #id_orden").val().trim(), 
            owner: $("#task  #id_owner").val().trim(),
     
        }

        console.log(data_form);
    $.ajax({
        url: '/ajax_save_tarea/{{proyectos.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        var titulo = data.titulo
        var detalles = data.detalles
        var fechav = data.fechav
        var estado = data.estado
        var prioridad = data.prioridad
        var orden = data.orden
        var owner = data.owner
        var idtask = data.pk
        
   //funcion add
   //$('.addtask').append('<tr>'+idtask+'<td>'+data.titulo+'</td><td>'+data.detalles+'</td><td>'+data.fechav+'</td><td>'+data.fechac+'</td><td>'+data.estado+'</td><td>'+data.prioridad+'</td><td>'+data.orden+'</td><td>'+data.owner+'</td></tr>');
        
 window.location.reload();   

        $('#id_titulo').val('');  //restablece form de id especificos
        $('#id_detalles').val('');  //
        $('#id_fechav').val('');  //restablece form de id especificos
       
        $('#id_estado').val('');  //
        $('#id_prioridad').val('');  //
        $('#id_orden').val('');  //
        $('#id_owner').val('');  //
        

        $('#task').modal('hide')
                    }
      });

       
});
</script>



 <script>
  $('#id_fechav').datepicker({
    format: 'yyyy-mm-dd',
     startDate: '-3d'
});
</script>






{% endblock %}

