{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Asunto</th>
                  <th>Descripcion</th>
                  <th>Proyecto</th>
                  <th>Usuarios</th>
                  <th>Detalle</th>

                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{discusion.asunto}}</td>
                  <td>{{discusion.descripcion}}</td>
                  <td>{{discusion.proyecto}}</td>
                  <td>{{discusion.usuario}}</td>
                   <td><a href="/edit_dis/{{discusion.pk}}">Editar</a></td>

                </tr>

              </tbody>
          </div>
{% endblock %}