{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}



<row>
 <h3>Detalle del Proyecto Publicidad</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Estado</th>
                  <th>Nombre</th>
                  <th>Empresa</th>
                  <th>id-publicidad</th>
                   <th>promocion</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{publicidad.estado}}</td>
                  <td>{{publicidad.nombre}}</td>
                  <td>{{publicidad.empresa}}</td>
                  <td>{{publicidad.idpublicidad}}</td>
                  <td>{{publicidad.promocion}}</td>
              

                </tr>

              </tbody>
            </table>
          </div>

</row>

<row>
   <h3>Lista de Campana del Proyecto</h3>
           <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>fecha inicio</th>
                  <th>fecha termino</th>
                  <th>inversion</th>
                  <th>comision</th>
                   <th>comentario</th>
                   <th>Detalle</th>
                </tr>
              </thead>
              <tbody class="add_campa">

                  <td><a href="/edit_campa/{{historialcampana.pk}}">Editar</a></td>
                  
 
              </tbody>
            </table>
          </div>
</row>

<row>
<h3>Agregar Campa</h3>

  <!-- Desde este boton se llama el modal, el identificador es el que se encuentra en target, debe ser igual al id del modal correspondiente. -->
  <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#addcam"> Agregar Campa</button>
</row>


{% endblock %}

{% block footer %}

<div class="modal fade" id="addcam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">Detalle Campa</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">


        <div class="col-6 p-4" id="profile-box">

            
            {% csrf_token %}

   {{ formca }}
                {% if formca.errors %}
                    <p class="alert alert-danger">{{ formca.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_enviar_campa" class="btn btn-primary btn-block mt-5">Enviar</button>
           


        </div>






<script type="text/javascript">
// guardar campa-proyecto mediante ajax-----------------------------------------------------------
$('#button_enviar_campa').on('click', function()  {

var data_form = {
            fechaini: $("#addcam  #id_fechaini").val(),
            fechater: $("#addcam  #id_fechater").val(),
            inversion: $("#addcam  #id_inversion").val(), 
            comision: $("#addcam  #id_comision").val(),
            comentario: $("#addcam  #id_comentario").val(),
            proyecto: $("#addcam #id_proyecto").val(),
        }
    $.ajax({
        url: '/ajax_save_campa/{{publicidad.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        var fechaini = data.fechaini
        var fechater = data.fechater
        var inversion = data.inversion 
        var comision = data.comision
        var comentario = data.comentario
        var proyecto = data.proyecto
        var idcam = data.idcampa
        
  //funcion add
   $('.addcampa').append('<tr>'+idcam+'<td>'+data.fechaini+'</td><td>'+data.fechater+'</td><td>'+data.inversion+'</td><td>'+data.comision+'</td><td>'+data.comentario+'</td><td>'+data.proyecto+'</td></tr>');
        


        $('#id_fechaini').val('');  //restablece form de id especificos
        $('#id_fechater').val('');  //
        $('#id_inversion').val('');  //restablece form de id especificos
        $('#id_comision').val('');  //restablece form de id especificos
        $('#id_comentario').val('');  //
        
        $('#addcam').modal('hide')

                    }
      });

       
});
</script>

<!-- funcion listar campana  -->
 
<script type="text/javascript">
function listcampa(){

          $.ajax({
        url: '/ajax_list_campa/{{publicidad.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        console.log(data);

        var json = $.parseJSON(data);

            for(var i = 0; i < json.length; i++) {

                console.log(json[i]);

                 var data = json[i];

        var fechaini = data.fechaini
        var fechater = data.fechater
        var inversion = data.inversion 
        var comision = data.comision
        var comentario = data.comentario
        var proyecto = data.proyecto
        var idcam = data.idcampa
        
  //funcion actualizar
   $('.add_campa').append('<tr>'+idcam+'<td>'+data.fechaini+'</td><td>'+data.fechater+'</td><td>'+data.inversion+'</td><td>'+data.comision+'</td><td>'+data.comentario+'</td><td>'+data.proyecto+'</td></tr>');


                    }
      },

});


}


$(document).ready( function () {
//Tareas comentario--------------------------------------------------------------
        listcampa();
});
</script>




{% endblock %}