{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}



<row>
 <h3>Proyecto</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Categoria</th>
                  <th>Usuario</th>
                  <th>Detalles</th>
                  <th>Detalle</th> 
                  <th>tag</th>
                </tr>
              </thead>
              <tbody class="add_tagproyect">

                

                
              </tbody>
            </table>
          </div>

</row>


{% endblock %}


{% block footer %}
<!-- funcion listar proyecto-tag  -->
 
<script type="text/javascript">
function listproyecttag(){

          $.ajax({
        url: '/ajax_list_filtrotagproyect/{{tag.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        console.log(data);

        var json = $.parseJSON(data);

            for(var i = 0; i < json.length; i++) {

                console.log(json[i]);

                 var data = json[i];

        var nombre = data.nombre
        var categoria = data.categoria
        var usuario = data.usuario 
        var detalles = data.detalles
        var idtagpro = data.idtagpro
        
        
        
  //funcion actualizar
   $('.add_tagproyect').append('<tr>'+idtagpro+'<td>'+data.nombre+'</td><td>'+data.categoria+'</td><td>'+data.usuario+'</td><td>'+data.detalles+'</td></tr>');


                    }
      },

});


}


$(document).ready( function () {
//Tareas comentario--------------------------------------------------------------
        listproyecttag();
});
</script>


{% endblock %}