{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

<row>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>titulo</th>
                  <th>descripcion</th>
                  <th>fecha</th>
                  <th>costo</th>
                  <th>proyecto</th>
                  <th>Detalle</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{servicios.titulo}}</td>
                  <td>{{servicios.descripcion}}</td>
                  <td>{{servicios.fecha}}</td>
                  <td>{{servicios.costo}}</td>
                  <td>{{servicios.proyecto}}</td>
                  <td><a href="/edit_servicio/{{servicios.pk}}">Editar</a></td>
                </tr>

              </tbody>
            </table>
          </div>

</row>



<row>
   <h3>Lista de Servicios</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>titulo</th>
                  <th>descripcion</th>
                  <th>fecha</th>
                  <th>costo</th>
                  <th>proyecto</th>
                  <th>Detalle</th>
                </tr>
              </thead>
              <tbody>
{% for serviciosextras in servicios %}
                <tr>
                  <td>{{serviciosextras.titulo}}</td>
                  <td>{{serviciosextras.descripcion}}</td>
                  <td>{{serviciosextras.fecha}}</td>
                  <td>{{serviciosextras.costo}}</td>
                  <td>{{serviciosextras.proyecto}}</td>
                  <td><a href="/detail_servicio/{{serviciosextras.pk}}">Editar</a></td>

                </tr>
{% endfor %} 
              </tbody>
          </div>
</row>

<row>
            <h3>Agregar Servicio</h3>
    <div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

   {{ formser }}
                {% if formser.errors %}
                    <p class="alert alert-danger">{{ formser.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
            </form>


        </div>
    </div>
</div>

</row>



{% endblock %}