{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Detalle</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{categorias.nombre}}</td>
                  <td><a href="/edit_categoria/{{categorias.pk}}">Editar</a></td>
                </tr>

              </tbody>
          </div>
{% endblock %}