{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

<row>

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Detalles</th>
                  <th>Fecha Vencimiento</th>
                  <th>Estado</th>
                  <th>Usuario</th>
                  <th>Proyecto</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                   <td>{{tarea.titulo}}</td>
                  <td>{{tarea.detalles}}</td>
                  <td>{{tarea.fechav}}</td>
                  <td>{{tarea.estado}}</td>
                  <td>{{tarea.usuario}}</td>
                  <td>{{tarea.proyecto}}</td>
                  <td><a href="/edit_tarea/{{tareas.pk}}">Editar</a></td>
                </tr>

              </tbody>
              </table>
          </div>
</row>



<row>
   <h3>Lista de comentarios de tarea</h3>
         <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Descripcion</th>
                  <th>Usuario</th>
                  <th>Tarea</th>
                  <th>Fecha</th>
                  <th>Editar</th>
                </tr>
              </thead>
              <tbody>
{% for comentariostarea in comentarios %}
                <tr>
                  <td>{{comentariostarea.descripcion}}</td>
                  <td>{{comentariostarea.usuario}}</td>
                  <td>{{comentariostarea.tarea}}</td>
                  <td>{{comentariostarea.fecha}}</td>
                  <td><a href="/detail_comentare/{{comentariostarea.pk}}">Editar</a></td>
                </tr>
{% endfor %} 
              </tbody>
            </table>
          </div>

</row>

<row>
            <h3>Agregar Comentario Tarea</h3>
   <div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'add_comentare' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

   {{ form }}
                {% if form.errors %}
                    <p class="alert alert-danger">{{ form.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
            </form>


        </div>
    </div>
</div> 
</row>



{% endblock %}