{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
<row>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                   <th>Fecha Pago</th>
                  <th>Monto Pago</th>
                  <th>Comentario</th>
                  <th>Proyecto</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                   <td>{{pagos.fecha}}</td>
                  <td>{{pagos.monto}}</td>
                  <td>{{pagos.comentario}}</td>
                  <td>{{pagos.proyecto}}</td>
                  <td><a href="/edit_pagopro/{{pagos.pk}}">Editar</a></td>
                </tr>

              </tbody>
          </div>
</row>
<row>
  <h3>Lista de pagos del Proyecto</h3>
 <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Fecha Pago</th>
                  <th>Monto Pago</th>
                  <th>Comentario</th>
                  <th>Proyecto</th>
                </tr>
              </thead>
              <tbody>
{% for pagosproyecto in pagos %}
                <tr>
                  <td>{{pagosproyecto.fecha}}</td>
                  <td>{{pagosproyecto.monto}}</td>
                  <td>{{pagosproyecto.comentario}}</td>
                  <td>{{pagosproyecto.proyecto}}</td>
                  <td><a href="/detail_pagopro/{{pagosproyecto.pk}}">Editar</a></td>

                  
{% endfor %} 
              </tbody>
            </table>
          </div>
</row>
<row>
<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'add_pagopro' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

   {{ form }}
                {% if form.errors %}
                    <p class="alert alert-danger">{{ form.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
            </form>


        </div>
    </div>
</div>
</row>



{% endblock %}