{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
<row>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Detalles</th>
                  <th>Fecha Vencimiento</th>
                  <th>Estado</th>
                  <th>Usuario</th>
                  <th>Proyecto</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                   <td>{{tarea.titulo}}</td>
                  <td>{{tarea.detalles}}</td>
                  <td>{{tarea.fechav}}</td>
                  <td>{{tarea.estado}}</td>
                  <td>{{tarea.usuario}}</td>
                  <td>{{tarea.proyecto}}</td>
                  <td><a href="/edit_tarea/{{tarea.pk}}">Editar</a></td>
                </tr>

              </tbody>
            </table>
          </div>
</row>

<row>
   <h3>Lista Comentario  Tarea</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Descripcion</th>
                  <th>Usuario</th>
                  <th>Tarea</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody class="add_com">
            
                
              </tbody>
            </table>
          </div>
</row>
<row>
<div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Proyecto</th>
                </tr>
              </thead>
              <tbody>
{% for imagetarea in imagenes %}
                <tr>
                  <td>{{imagetarea.imagen}}</td>
                  <td>{{imagetarea.tarea}}</td>
                </tr>
{% endfor %} 
              </tbody>
            </table>
          </div>

</row>
<row>
   <h3>Agregar IMG</h3>
<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

           
                {% csrf_token %}

   {{ formimg }}
                {% if formimg.errors %}
                    <p class="alert alert-danger">{{ formimg.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
          


        </div>
    </div>
</div>
</row>

<row>
   <h3>Agregar Comentario</h3>
<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4 savecomen" id="profile-box">

            
                {% csrf_token %}

   {{ formcom }}
                {% if formcom.errors %}
                    <p class="alert alert-danger">{{ formcom.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_enviar" class="btn btn-primary btn-block mt-5">Enviar</button>
                

        </div>
    </div>
</div>
</row>
{% endblock %}


<!-- funcion listar comentario  -->
  {% block footer %}
<script type="text/javascript">
function listcometnario(){

          $.ajax({
        url: '/ajax_list_comentare/{{tarea.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        console.log(data);

        var json = $.parseJSON(data);

            for(var i = 0; i < json.length; i++) {

                console.log(json[i]);

                 var data = json[i];

        var descripcion = data.descripcion
        var usuario = data.usuario
        var fecha = data.fecha
        var tarea = data.tarea
        var id = data.idtarea
        
  //funcion actualizar
   $('.add_com').append('<tr>'+id+'<td>'+data.descripcion+'</td><td>'+data.usuario+'</td><td>'+data.tarea+'</td><td>'+data.fecha+'</td></tr>');


                    }
      },

});


}


$(document).ready( function () {
//Tareas comentario--------------------------------------------------------------
        listcometnario();
});
</script>


<script type="text/javascript">
//save comentario tarea y listarlo al ultimo de la lista-----------------------------------------------------------
$('#button_enviar').on('click', function()  {

console.log('entro');

var data_form = {
            descripcion: $("#id_descripcion").val(),
            usuario: $("#id_usuario").val(),
            tarea: $("#id_tarea").val(),
            fecha: $("#id_fecha").val(),
        }
    $.ajax({
        url: '/ajax_save_comentarea/{{tarea.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        var descripcion = data.descripcion
        var usuario = data.usuario
        var fecha = data.fecha
        var tarea = data.tarea
        var id = data.idtarea
        
  //funcion actualizar
   $('.add_com').append('<tr>'+id+'<td>'+data.descripcion+'</td><td>'+data.usuario+'</td><td>'+data.tarea+'</td><td>'+data.fecha+'</td></tr>');
        


        $('#id_descripcion').val('');  //restable descripcion
        $('#id_fecha').val('');  //


                    }
      });

       
});
</script>
 <script type="text/javascript">

//se usa para guardar el comentario y limpiar el html
// function listcometnario(){

//           $.ajax({
//         url: '/ajax_list_comentare/{{tarea.pk}}/',
//         type: 'post',
//         dataType: 'json',
//         contentType: 'application/json',
//         data: '1',
//         success: function (data) {

//         console.log(data);

//         var json = $.parseJSON(data);

//             for(var i = 0; i < json.length; i++) {

//                 console.log(json[i]);

//                  var data = json[i];

//         var descripcion = data.descripcion
//         var usuario = data.usuario
//         var fecha = data.fecha
//         var tarea = data.tarea
//         var id = data.idtarea
        
//   //funcion actualizar
//    $('.add_com').append('<tr>'+id+'<td>'+data.descripcion+'</td><td>'+data.usuario+'</td><td>'+data.tarea+'</td><td>'+data.fecha+'</td></tr>');


//                     }
//       },

// });


// }


// $(document).ready( function () {
// //Tareas comentario--------------------------------------------------------------
//         listcometnario();
// });
 </script>
 <script type="text/javascript">
// //save comentario tarea---------------------------------------------------------------
// $('#button_enviar').on('click', function()  {

// var data_form = {
//             descripcion: $("#id_descripcion").val(),
//             usuario: $("#id_usuario").val(),
//             tarea: $("#id_tarea").val(),
//             fecha: $("#id_fecha").val(),
//         }
//     $.ajax({
//         url: '/ajax_save_comentarea/{{tarea.pk}}/',
//         type: 'post',
//         dataType: 'json',
//         contentType: 'application/json',
//         data: JSON.stringify(data_form),
//         success: function (data) {

//         console.log(data);
//         $('.add_com').html('');
//         listcometnario();
        
        

//                     }
//       });

       
// });
 </script>

 <!-- solo se ocupa en los template que tenga fecha -->
<script>
$('#id_fecha').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
       
});

</script>


{% endblock %}

