{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

            
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

           
                {% csrf_token %}

   {{ formpu }}
                {% if formpu.errors %}
                    <p class="alert alert-danger">{{ formpu.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_update_publi" class="btn btn-primary btn-block mt-5">Enviar</button>
           


        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<!-- funcion edit rellenar campos  -->
<script type="text/javascript">
$( document ).ready( function () {
    console.log('fill_publi');
function fill_publi(pk){

                        

        $.ajax({
        url: '/ajax_fill_publi/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        
        console.log(data);
        
        var estado = data.estado;   
        var nombre = data.nombre;
        var empresa = data.empresa;
        var idpublicidad = data.idpublicidad;
        var promocion = data.promocion;
        var proyecto = data.proyecto
       

         $('#id_estado').val(estado);
         $('#id_nombre').val(nombre);
         $('#id_empresa').val(empresa);
         $('#id_idpublicidad').val(idpublicidad);
         $('#id_promocion').val(promocion);
         $('#id_proyecto').val(proyecto);
         
    
  

        },

});    

}
 fill_publi({{publicidad.pk}});

});

</script>

<script type="text/javascript">
$('#button_update_publi').on('click', function()  {
        var data_form = {
          estado: $("#id_estado").val(),
            nombre: $("#id_nombre").val(),
            empresa: $("#id_empresa").val(),
            idpublicidad:  $("#id_idpublicidad").val(),
            promocion:  $("#id_promocion").val(),
            proyecto:  $("#id_proyecto").val(),
           

           }
            
            // con el id del llenado de servicio 
            //ocupamos el id proyecto para actualizar los datos de tarea
             pk = $("#id_proyecto").val();
           



        $.ajax({
        url: '/ajax_save_fill_publi/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        window.location.reload();


  

        },

});    






        });

</script>




{% endblock %}