{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

            
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            
                {% csrf_token %}

   {{ formdis }}
                {% if formdis.errors %}
                    <p class="alert alert-danger">{{ formdis.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
            


        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

<script type="text/javascript">
//Edit_discusion----------------------------------------------------
$('#button_enviar_dis').on('click', function()  {

        var data_form = {
            asunto: $("#id_asunto").val(),
            descripcion: $("#id_descripcion").val(),
            
        } 

        $.ajax({
        url: '/ajax_edit_dis/{{proyectos.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);

        window.location.reload();       

        },

});    

});   
</script>
{% endblock %}
