{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

            
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            
                {% csrf_token %}

   {{ formpa }}
                {% if formpa.errors %}
                    <p class="alert alert-danger">{{ formpa.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_update_pago" class="btn btn-primary btn-block mt-5">Enviar</button>
            


        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<!-- funcion edit rellenar campos  -->
<script type="text/javascript">
$( document ).ready( function () {
    console.log('fill_pago');
function fill_pago(pk){

                        

        $.ajax({
        url: '/ajax_fill_pagopro/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        
        console.log(data);
        
        var fecha = data.fecha;   
        var monto = data.monto;
        var comentario = data.comentario;
        var estatus = data.estatus;
        var proyecto = data.proyecto
       

         $('#id_fecha').val(fecha);
         $('#id_monto').val(monto);
         $('#id_comentario').val(comentario);
         $('#id_estatus').val(estatus);
         $('#id_proyecto').val(proyecto);
         
    
  

        },

});    

}
 fill_pago({{pago.pk}});

});

</script>

<script type="text/javascript">
$('#button_update_pago').on('click', function()  {
        var data_form = {
          fecha: $("#id_fecha").val(),
            monto: $("#id_monto").val(),
            comentario: $("#id_comentario").val(),
            estatus:  $("#id_estatus").val(),
            proyecto:  $("#id_proyecto").val(),
           

           }
            
            // con el id del llenado de servicio 
            //ocupamos el id proyecto para actualizar los datos de tarea
             pk = $("#id_proyecto").val();
           



        $.ajax({
        url: '/ajax_save_fill_pagopro/{{pago.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        if(data.success == 1){
            window.location.href = '/detail_proyecto/'+pk+'/';
        }



  

        },

});    






        });

</script>








{% endblock %}