{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

            
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            
                {% csrf_token %}

   {{ formtag }}
                {% if formtag.errors %}
                    <p class="alert alert-danger">{{ formtag.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_update_tag" class="btn btn-primary btn-block mt-5">Enviar</button>
            


        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

<!-- funcion edit rellenar campos  -->
<script type="text/javascript">
$( document ).ready( function () {
    console.log('fill_publi');
function fill_tag(pk){

                        

        $.ajax({
        url: '/ajax_fill_campa/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        
        console.log(data);
        
        var fechaini = data.fechaini;   
        var fechater = data.fechater;
       

         $('#id_fechaini').val(fechaini);
         $('#id_fechater').val(fechater);
         

        },

});    

}
 fill_campa({{campana.pk}});

});

</script>

<script type="text/javascript">
$('#button_update_cam').on('click', function()  {
        var data_form = {
          fechaini: $("#id_fechaini").val(),
            fechater: $("#id_fechater").val(),
            inversion: $("#id_inversion").val(),
            comision:  $("#id_comision").val(),
            comentario:  $("#id_comentarion").val(),
            proyecto:  $("#id_proyecto").val(),
           

           }
            
            // con el id del llenado de servicio 
            //ocupamos el id proyecto para actualizar los datos de tarea
             pk = $("#id_proyecto").val();
           



        $.ajax({
        url: '/ajax_save_fill_campa/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        window.location.reload();


  

        },

});    






        });

</script>



{% endblock %}