{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

            
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            
                {% csrf_token %}

   {{ formta }}
                {% if formta.errors %}
                    <p class="alert alert-danger">{{ formta.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit"  id="tarea_enviar"  class="btn btn-primary btn-block mt-5">Enviar</button>
           


        </div>
    </div>
</div>
{% endblock %}



{% block footer %}
<script type="text/javascript">
//Edit_tarea---------------------------------------------------------------
$('#tarea_enviar').on('click', function()  {
        var data_form = {
            titulo: $("#id_titulo").val(),
            detalles: $("#id_detalles").val(),
            fechav: $("#id_fechav").val(),
            estado: $("#id_estado").val(),
            prioridad: $("#id_prioridad").val(),
            orden: $("#id_orden").val(), 
            owner: $("#id_owner").val(),
        }

        $.ajax({
        url: '/ajax_edit_tarea/{{tarea.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        

        window.location.reload();
        

  

        },

});    

});   

</script>
{% endblock %}