{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

            
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

                {% csrf_token %}

                {{ form }}
                {% if form.errors %}
                    <p class="alert alert-danger">{{ form.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_enviar" onclick="" class="btn btn-primary btn-block mt-5">Enviar</button>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
<script type="text/javascript">
//Edit_comentario----------------------------------------------------
$('#button_enviar').on('click', function()  {

        var data_form = {
            descripcion: $("#id_descripcion").val(),
            usuario: $("#id_usuario").val(),
            fecha: $("#id_fecha").val(),
        } 

        $.ajax({
        url: '/ajax_edit_comentare/{{comentario.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);

        window.location.reload();       

        },

});    

});   
</script>






{% endblock %}