{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

            
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            
                {% csrf_token %}

   {{ formser }}
                {% if formser.errors %}
                    <p class="alert alert-danger">{{ formser.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_update_servicio" class="btn btn-primary btn-block mt-5">Enviar</button>
            


        </div>
    </div>
</div>

{% endblock %}


{% block footer %}
<!-- funcion edit rellenar campos  -->
<script type="text/javascript">
$( document ).ready( function () {
    console.log('fill_servicio');
function fill_servicio(pk){

                        

        $.ajax({
        url: '/ajax_fill_servicio/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        
        console.log(data);
        
        var titulo = data.titulo;   
        var descripcion = data.descripcion;
        var fecha = data.fecha;
        var costo = data.costo;
        var proyecto = data.proyecto
       

         $('#id_titulo').val(titulo);
         $('#id_descripcion').val(descripcion);
         $('#id_fecha').val(fecha);
         $('#id_costo').val(costo);
         $('#id_proyecto').val(proyecto);
         
    
  

        },

});    

}
 fill_servicio({{servicio.pk}});

});

</script>

<script type="text/javascript">
$('#button_update_servicio').on('click', function()  {
        var data_form = {
          titulo: $("#id_titulo").val(),
            descripcion: $("#id_descripcion").val(),
            fecha: $("#id_fecha").val(),
            costo:  $("#id_costo").val(),
            proyecto:  $("#id_proyecto").val(),
           

           }
            
            // con el id del llenado de servicio 
            //ocupamos el id proyecto para actualizar los datos de tarea
             pk = $("#id_proyecto").val();
           



        $.ajax({
        url: '/ajax_save_fill_servicio/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        window.location.reload();


  

        },

});    






        });

</script>






{% endblock %}