{% extends "base_user.html" %}
{% load static %}
{% load avance %}
{% block head_content %}
<title>Filtro de Proyectos</title>
{% endblock %}

{% block titulo %}Lista de todos los Proyectos<div class="ml-auto">

 <form class="form-horizontal" action="{% url 'filtro' %}" method="get">
                           <div class="input-group">

                           	<div class="row">
                           		<div class="col-ml-4">
                           		<input name="nombre" class="form-control" type="text" placeholder="Nombre"><span class="input-group-btn">
                           		</div>
                           	<div class="col-ml-4">
                           	{{form}}
                           	</div>
							<div class="col-ml-4">
                           	<input  class="btn btn-secondary" type="submit" placeholder="Filtrar"></span>
                           	</div>
                           </div>

                       </div>
                        </form>





<a href="/add_proyecto"><button class="btn btn-secondary btn-sm btn-addp" type="button">Agregar Proyecto</button></div></a>
  {% endblock%}

{% block container %}


       <div class="row">

        {% for proyect in object_list %}
               <div class="col-xl-4 col-lg-6">
                  <div class="card b">
                     <div class="card-header">
                        <div class="float-right">
                           <div class="badge badge-info">{{proyect.get_estado_display}}</div>
                        </div>
                        <h4 class="m-0">{{proyect.nombre}}</h4><small class="text-muted">Categoría: {{proyect.categoria.nombre}}</small>
                     </div>
                     <div class="card-body">
                        <div class="d-flex align-items-center">
                           <div class="w-100" data-toggle="tooltip" data-title="Health">
                              <div class="progress progress-xs m-0">
                                 <div class="progress-bar bg-warning" style="width:{% avancetag proyect.pk as avancet %} {{avancet | floatformat:2 }}%"></div>
                              </div>
                           </div>
                           <div class="wd-xxs text-right">
                              <div class="text-bold text-muted">{% avancetag proyect.pk as avancet %} {{avancet | floatformat:2 }}%</div>
                           </div>
                        </div>
                     </div>
                     <table class="table">
                        <tbody>
                           <tr>
                              <td><strong>Fecha de Inicio</strong></td>
                              <td>{{proyect.fecha}}</td>
                           </tr>
                           <tr>
                              <td><strong> Cliente:</strong></td>
                               <td>{{proyect.client}}</td>
                           </tr>
                           <tr>
                              <td><strong> Creado por:</strong></td>
                              <td>{{proyect.usuario}}</td>
                           </tr>
                           <tr>
                              
                           </tr>
                        </tbody>
                     </table>
                     <div class="card-footer text-center"><a href="/detail_proyecto/{{proyect.pk}}"><button class="btn btn-secondary" type="button">Administrar Proyecto</button></a></div>
                  </div>
               </div>

               {% endfor %} 



         </div>
{% endblock %}