{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
<!-- templates/home.html -->
<!-- templates/home.html -->
<h1>HomePage</h1>

<div class="container">

<div class="row justify-content-md-center">
<div class="col-6 p-4" id="profile-box">
<form action="{% url 'search' %}" method="get">
 <input name="q" type="text" placeholder="Search">
 <input type="submit" placeholder="Search">
</form>
{% endblock %}
</div>
</div>
</div>