{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
<!-- templates/home.html -->
<h1>HomePage</h1>

<form action="{% url 'search' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>

{% endblock %}