{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

<row>
   <h3>Lista de Tag Client</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>nombre</th>
                  <th>color</th>
                  <th>Detalles</th>
                 
                </tr>
              </thead>
              <tbody>
{% for tag in tags %}
                <tr>
                  <td>{{tag.nombre}}</td>
                  <td>{{tag.color}}</td>
                  <td><a href="/filtro_tag/{{tag.pk}}">Editar</a></td>
                  
          
                </tr>
{% endfor %} 
              </tbody>
              </table>
          </div>
</row>

<row>
   <h3>Lista de Tag Proyect</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>nombre</th>
                  <th>color</th>
                  <th>Detalles</th>
                 
                </tr>
              </thead>
              <tbody>
{% for tag in tags %}
                <tr>
                  <td>{{tag.nombre}}</td>
                  <td>{{tag.color}}</td>
                  <td><a href="/filtro_tag/{{tag.pk}}">Editar</a></td>
                  
          
                </tr>
{% endfor %} 
              </tbody>
              </table>
          </div>
</row>


{% endblock %}