 {% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Descripcion</th>
                  <th>Usuario</th>
                  <th>Tarea</th>
                  <th>Fecha</th>
                  <th>Editar</th>
                </tr>
              </thead>
              <tbody>
{% for comentariostarea in comentario %}
                <tr>
                  <td>{{comentariostarea.descripcion}}</td>
                  <td>{{comentariostarea.usuario}}</td>
                  <td>{{comentariostarea.tarea}}</td>
                  <td>{{comentariostarea.fecha}}</td>
                  <td><a href="/detail_comentare/{{comentariostarea.pk}}">Editar</a></td>
                </tr>
{% endfor %} 
              </tbody>
          </div>
{% endblock %}