{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Categoria</th>
                  <th>Detalle</th>
                </tr>
              </thead>
              <tbody>
{% for categoria in categorias %}
                <tr>
                  <td>{{categoria.nombre}}</td>
                  <td><a href="/detail_categoria/{{categoria.pk}}">Editar</a></td>
                </tr>
{% endfor %} 
              </tbody>
          </div>
{% endblock %}