{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Asunto</th>
                  <th>Descripcion</th>
                  <th>Proyecto</th>
                  <th>Usuarios</th>
                  <th>Detalle</th>

                </tr>
              </thead>
              <tbody>
{% for discusiones in discusion %}
                <tr>
                  <td>{{discusiones.asunto}}</td>
                  <td>{{discusiones.descripcion}}</td>
                  <td>{{discusiones.proyecto}}</td>
                  <td>{{discusiones.usuario}}</td>
                   <td><a href="/detail_dis/{{discusiones.pk}}">Editar</a></td>

                </tr>
{% endfor %} 
              </tbody>
          </div>
{% endblock %}