{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>titulo</th>
                  <th>descripcion</th>
                  <th>fecha</th>
                  <th>costo</th>
                  <th>proyecto</th>
                </tr>
              </thead>
              <tbody>
{% for serviciosextras in servicios %}
                <tr>
                  <td>{{serviciosextras.titulo}}</td>
                  <td>{{serviciosextras.descripcion}}</td>
                  <td>{{serviciosextras.fecha}}</td>
                  <td>{{serviciosextras.costo}}</td>
                  <td>{{serviciosextras.proyecto}}</td>
                  <td><a href="/detail_proyecto/{{serviciosextras.pk}}">Editar</a></td>

                </tr>
{% endfor %} 
              </tbody>
          </div>
{% endblock %}