{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Fecha Pago</th>
                  <th>Monto Pago</th>
                  <th>Comentario</th>
                  <th>Proyecto</th>
                   <th>Detalle</th>
                </tr>
              </thead>
              <tbody>
{% for pagosproyecto in pagos %}
                <tr>
                  <td>{{pagosproyecto.fecha}}</td>
                  <td>{{pagosproyecto.monto}}</td>
                  <td>{{pagosproyecto.comentario}}</td>
                  <td>{{pagosproyecto.proyecto}}</td>
                  <td><a href="/detail_proyecto/{{pagosproyecto.pk}}">Editar</a></td>
                  
{% endfor %} 
              </tbody>
            </table>
          </div>
{% endblock %}