{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>fecha inicio</th>
                  <th>fecha termino</th>
                  <th>inversion</th>
                  <th>comision</th>
                   <th>comentario</th>
                   <th>Detalle</th>
                </tr>
              </thead>
              <tbody>
{% for historialcampana in campana %}
                <tr>
                  <td>{{historialcampana.fechaini}}</td>
                  <td>{{historialcampana.fechater}}</td>
                  <td>{{historialcampana.inversion}}</td>
                  <td>{{historialcampana.comision}}</td>
                  <td>{{historialcampana.comentario}}</td>
                  <td><a href="/detail_campa/{{historialcampana.pk}}">Editar</a></td>
                  
{% endfor %} 
              </tbody>
            </table>
          </div>
{% endblock %}