{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Estado</th>
                  <th>Nombre</th>
                  <th>Empresa</th>
                  <th>id-publicidad</th>
                   <th>promocion</th>
                   <th>Detalle</th>
                </tr>
              </thead>
              <tbody>
{% for proyectopublicidad in publicidad %}
                <tr>
                  <td>{{proyectopublicidad.estado}}</td>
                  <td>{{proyectopublicidad.nombre}}</td>
                  <td>{{proyectopublicidad.empresa}}</td>
                  <td>{{proyectopublicidad.idpublicidad}}</td>
                  <td>{{proyectopublicidad.promocion}}</td>
                  <td><a href="/detail_publi/{{proyectopublicidad.pk}}">Editar</a></td>
                  
{% endfor %} 
              </tbody>
            </table>
          </div>
{% endblock %}