{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Detalles</th>
                  <th>Fecha Vencimiento</th>
                  <th>Estado</th>
                  <th>Usuario</th>
                  <th>Proyecto</th>
                  <th>Editar</th>
                </tr>
              </thead>
              <tbody>
{% for tarea in tareas %}
                <tr>
                  <td>{{tarea.titulo}}</td>
                  <td>{{tarea.detalles}}</td>
                  <td>{{tarea.fechav}}</td>
                  <td>{{tarea.estado}}</td>
                  <td>{{tarea.usuario}}</td>
                  <td>{{tarea.proyecto}}</td>
                  <td><a href="/detail_tarea/{{tarea.pk}}">Editar</a></td>
                </tr>
{% endfor %} 
              </tbody>
          </div>
{% endblock %}