{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Proyecto</th>
                </tr>
              </thead>
              <tbody>
{% for imagetarea in imagenes %}
                <tr>
                  <td>{{imagetarea.imagen}}</td>
                  <td>{{imagetarea.tarea}}</td>
                </tr>
{% endfor %} 
              </tbody>
          </div>
{% endblock %}

