{% extends "base_user.html" %}
{% load static %}

{% block head_content %}
<title>Lista de Mis Proyectos</title>
{% endblock %}

{% block titulo %}Lista de Mis Proyectos <div class="ml-auto">
<a href="/add_proyecto"><button class="btn btn-secondary btn-sm" type="button">Agregar Proyecto</button></div></a>
  {% endblock%}

{% block container %}


       <div class="row">

        {% for proyect in proyectos %}
               <div class="col-xl-4 col-lg-6">
                  <div class="card b">
                     <div class="card-header">
                        <div class="float-right">
                           <div class="badge badge-info">{{proyect.get_estado_display}}</div>
                        </div>
                        <h4 class="m-0">{{proyect.nombre}}</h4><small class="text-muted">Categoría: {{proyect.categoria.nombre}}</small>
                     </div>
                     <div class="card-body">
                        <div class="d-flex align-items-center">
                           <div class="w-100" data-toggle="tooltip" data-title="Health">
                              <div class="progress progress-xs m-0">
                                 <div class="progress-bar bg-warning" style="width:22%"></div>
                              </div>
                           </div>
                           <div class="wd-xxs text-right">
                              <div class="text-bold text-muted">22%</div>
                           </div>
                        </div>
                     </div>
                     <table class="table">
                        <tbody>
                           <tr>
                              <td><strong>Fecha de Inicio</strong></td>
                              <td>{{proyect.fecha}}</td>
                           </tr>
                           <tr>
                              <td><strong> Cliente:</strong></td>
                               <td>{{proyect.client}}</td>
                           </tr>
                           <tr>
                              <td><strong> Creado por:</strong></td>
                              <td>{{proyect.usuario}}</td>
                           </tr>
                           <tr>
                              
                           </tr>
                        </tbody>
                     </table>
                     <div class="card-footer text-center"><a href="/detail_proyecto/{{proyect.pk}}"><button class="btn btn-secondary" type="button">Administrar Proyecto</button></a></div>
                  </div>
               </div>

               {% endfor %} 



         </div>
{% endblock %}