{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

<!-- {# 1. BUTTON TO TRIGGER THE ACTION #} -->
<button type="button" class="btn btn-primary js-upload-photos">
  <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
</button>

<!-- {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #} -->
<input id="fileupload" type="file" name="file" multiple
       style="display: none;"
       data-url="{% url 'basic_upload' %}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

<!-- {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #} -->
<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody>
    {% for photo in photos %}
      <tr>
        <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}




{% block footer %}


<!--  # JQUERY FILE UPLOAD SCRIPTS # -->
  <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery.fileupload.js' %}"></script>





<script type="text/javascript">
$(function () {
  /* 1. OPEN THE FILE EXPLORER WINDOW */
  $(".js-upload-photos").click(function () {
    $("#fileupload").click();
  });

  /* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
  $("#fileupload").fileupload({
    dataType: 'json',
    done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */

      console.log('enter');
      if (data.result.is_valid) {
        $("#gallery tbody").prepend(
          "<tr><td><a href='" + data.result.url + "'>" + data.result.name + "</a></td></tr>"
        )
      }
    }
  });

});


</script>




{% endblock %}