{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
<!-- templates/search_results.html -->
<h1>Search Results</h1>

<ul>
  {% for proyect in object_list %}
    <li>
      {{proyect.nombre}}
    </li>
    <a href="/detail_proyecto/{{proyect.pk}}">Detalle</a></td>
   
  {% endfor %}
</ul>
{% endblock %}