{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

          
        <a href="{% url 'sendmail' %}">Send test mail</a>

        </div>
    </div>
</div>

{% endblock %}