{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

<div class="container-fluid">
  <h2>Columns</h2>
  <div class="row">
    <div class="col-4 div1">

        <ul>
{% for tareas in estatus  %}
            <li>{{tareas.pk}}</li>
            <li>{{tareas.pk}}</li>
            <li>{{tareas.pk}}</li>
        </ul>
    </div>
{% endfor %} 
    <div class="col-4 div1">

        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="col-4 div1">

        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> 
</div>

<script type="text/javascript">
$( document ).ready( function () {
    $.ajax({
        url: 'tareas_detail/{{proyecto.pk}}/1/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {


        console.log(data);

}
</script>


{% endblock %}