{% extends "base_user.html" %}
{% load static %}

{% block head_content %}
<title>Detalle de Tareas del Proyecto</title>
{% endblock %}

{% block titulo %}Detalle de Tareas del Proyecto{% endblock%}

{% block container %}

<row>

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Categoria</th>
                  <th>Detalles</th>
                  <th>Usuario</th>
                  <th>Detalle</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{proyecto.nombre}}</td>
                  <td>{{proyecto.categoria}}</td>
                  <td>{{proyecto.detalles}}</td>
                  <td>{{proyecto.usuario}}</td>
                  <td><a href="/edit_proyecto/{{proyecto.pk}}">Editar</a></td>

                </tr>

              </tbody>
            </table>
          </div>

</row>




<row>
   <h3>Lista de tareas del Proyecto</h3>


       <div class="row">
                  <div class="col-lg-4 pendiente">
                     <!-- START card-->
                     <div class="card card-default card-demo" id="cardDemoRefresh1">
                        <div class="card-header">Pendientes<a class="float-right" href="#" data-tool="card-refresh" data-toggle="tooltip" title="Refresh Card" data-spinner="standard"><em class="fas fa-sync"></em></a></div>

  <div class="card-body tareas_pendiente" id="origin">
              
                        </div>
                  
                       

                     </div><!-- END card-->
                  </div>
                  <div class="col-lg-4 proceso">
                     <!-- START card-->
                     <div class="card card-default card-demo" id="cardDemoRefresh2">
                        <div class="card-header">Proceso<a class="float-right" href="#" data-tool="card-refresh" data-toggle="tooltip" title="Refresh Card" data-spinner="traditional"><em class="fas fa-sync"></em></a></div>

                      <div class="card-body tareas_proceso" id="drop">
             
                        </div>
                      
                     </div><!-- END card-->
                  </div>
                  <div class="col-lg-4 completado">
                     <!-- START card-->
                     <div class="card card-default card-demo" id="cardDemoRefresh3">
                        <div class="card-header">Completadas<a class="float-right" href="#" data-tool="card-refresh" data-toggle="tooltip" title="Refresh Card" data-spinner="line back-and-forth grow"><em class="fas fa-sync"></em></a></div>

                        <div class="card-body tareas_completo">
             
                        </div>
                     </div><!-- END card-->
                  </div>
               </div><!-- END row-->

</row>

<row>
<h3>Agregar Tarea</h3>

  <!-- Desde este boton se llama el modal, el identificador es el que se encuentra en target, debe ser igual al id del modal correspondiente. -->
  <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#agregar_tarea"> Agregar Tarea</button>
</row>





  <!--<row>
<h3>Export Tarea</h3>
<a href="{% url 'export_tarea' %}">Export all Tarea</a>
</row>-->




{% endblock %}



       {% block footer %}

<script type="text/javascript">
$( document ).ready( function () {

    console.log('testdadata');


//Tareas Pendientes
    $.ajax({
        url: '/tarea_detail/{{proyecto.pk}}/1/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        console.log(data);

        var json = $.parseJSON(data);

            for(var i = 0; i < json.length; i++) {

                console.log(json[i]);

                 var data = json[i];

        var titulo = data.titulo
        var id = data.idtarea
        
  

                   //funcion actualizar
                   $('.tareas_pendiente').append('<div class="tarea draggable" id="id_'+id+'" onclick="llamar_funciones('+id+');"  type="button">'+titulo+'</div>');
//En este append vas a agregar el vinculo para el modal de la tarea.

                    }
      },

});
//Tareas Proceso----------------------------------------------------------------
    $.ajax({
        url: '/tarea_detail/{{proyecto.pk}}/2/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        console.log(data);

        var json = $.parseJSON(data);

            for(var i = 0; i < json.length; i++) {

                console.log(json[i]);

                 var data = json[i];

        var titulo = data.titulo
        var id = data.idtarea

        
                   //funcion actualizar
                   $('.tareas_proceso').append('<div class="tarea draggable" id="id_'+id+'" onclick="llamar_funciones('+id+');" type="button">'+titulo+'</div>');


                    }
      },

});

//Tareas Completadas---------------------------------------------------------------
        $.ajax({
        url: '/tarea_detail/{{proyecto.pk}}/3/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        console.log(data);

        var json = $.parseJSON(data);

            for(var i = 0; i < json.length; i++) {

                console.log(json[i]);

                 var data = json[i];

        var titulo = data.titulo
        var id = data.idtarea
      
        
                   //funcion actualizar
                   $('.tareas_completo').append('<div class="tarea draggable" id="id_'+id+'" onclick="llamar_funciones('+id+');" type="button">'+titulo+'</div>');


                    }
      },

});


});


//Aqui agrega tu ajax para crear una nueva tarea:





//ignorar este código por ahora, es para hacer el arrastrar y soltar de tareas, posteriormente.
$(".draggable").draggable({ cursor: "crosshair", revert: "invalid"});
$("#drop").droppable({ accept: ".draggable", 
           drop: function(event, ui) {
                    console.log("drop");
                   $(this).removeClass("border").removeClass("over");
             var dropped = ui.draggable;
            var droppedOn = $(this);
            $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);      
             
             
                }, 
          over: function(event, elem) {
                  $(this).addClass("over");
                   console.log("over");
          }
                ,
                  out: function(event, elem) {
                    $(this).removeClass("over");
                  }
                     });

$("#drop").sortable();

$("#origin").droppable({ accept: ".draggable", drop: function(event, ui) {
                    console.log("drop");
                   $(this).removeClass("border").removeClass("over");
             var dropped = ui.draggable;
            var droppedOn = $(this);
            $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);      
             
             
                }});

</script>


 

<!-- AGREGAR MODAS despues de scripts dentro del bloque   block footer -->

<!-- Modal Tarea -->
<!-- Notar que el id cambia por cada modal, debe ser el mismo ID que se llame desde el boton -->
<div class="modal fade" id="agregar_tarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">Agregar Tarea</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">


        <div class="col-12 p-4" id="profile-box">

            
                {% csrf_token %}

   {{ formta }}
                {% if formta.errors %}
                    <p class="alert alert-danger">{{ formta.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit"  id="button_enviar"  class="btn btn-primary btn-block mt-5">Enviar</button>
           


        </div>



          </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
         </div>
      </div>
   </div><!-- Modal -->


<!-- Modal Tarea -->
<!-- Notar que el id cambia por cada modal, debe ser el mismo ID que se llame desde el boton -->
<div class="modal fade" id="detail_tarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title" id="myModalLabel">Detalle Tarea</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
        <div class="col-12 p-4" id="profile-box">
                {% csrf_token %}

   {{ formta2 }}
                {% if formta2.errors %}
                    <p class="alert alert-danger">{{ formta2.errors }}</p>
                {% endif %}
                <button type="submit"  id="button_update_tarea"  class="btn btn-primary btn-block mt-2">Actualizar Tarea</button>
          
        </div>

        <div class="bg-gray-lighter px-3 py-2 mb-3 font-weight-bold">Archivos de Tarea</div>
         <!-- add imgtarea  -->
         <div class="col-6 p-4" id="profile-box">
                <button type="button" class="btn btn-primary js-upload-photos">
  <span class="glyphicon glyphicon-cloud-upload"></span> Subir Archivo
</button>

<!-- {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #} -->
<input id="fileupload" type="file" name="file" multiple
       style="display: none;"
       data-url="{% url 'basic_upload' %}"
       data-form-data='{"csrfmiddlewaretoken": "g0fvpLVJXHG3l3S5sWJgBm8DO2GHkozgUJN33ZRjfCHqh2MUEI4YTsRkIB9kh9l4", "tarea":"6"}'>
        </div>
        <!-- crear comentario  -->
    
              <div div class="col-12 p-4" id="profile-box">

<div class="table-responsive">
            <!-- {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #} -->
<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>Archivos</th>
    </tr>
  </thead>
  <tbody>
   
  </tbody>
</table>
          
          </div>


        </div>

<div class="bg-gray-lighter px-3 py-2 mb-3 font-weight-bold">Comentarios de Tarea</div>
  <div id="list_comments">

<div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Comentario</th>
                  <th>Usuario</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody class="add_com">
            
                
              </tbody>
            </table>
          </div>


        </div>
                      <!-- agregar form2 -->
                <div class="col-12 p-4" id="profile-box">

            
                {% csrf_token %}

   {{ formcom2 }}
                {% if formcom2.errors %}
                    <p class="alert alert-danger">{{ formcom2.errors }}</p>
                {% endif %}
                <button type="submit" id="button_coment" class="btn btn-primary btn-block mt-2">Enviar</button>
           


        </div>



          </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
         </div>
      </div>
   </div><!-- Modal -->



<!-- funcion save add_tarea-proyecto -->
<script type="text/javascript">
function tarea_detalle(pk){
$('#detail_tarea').modal('toggle');
  
  console.log(pk);

        $.ajax({
        url: '/ajax_list_comentare/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        console.log(data);

        var json = $.parseJSON(data);

         $('#detail_tarea #list_comments .add_com').html('');

            for(var i = 0; i < json.length; i++) {

                console.log(json[i]);

                 var data = json[i];
        
              //funcion add
               $('#detail_tarea #list_comments .add_com').append('<tr><td>'+data.descripcion+'</td><td>'+data.usuario+'</td><td>'+moment(data.fecha).format('D-MM-YYYY, h:mm a')+'</td></tr>');


                    }
      },

});

        $('#fileupload').attr('tarea_pk', pk);

        $.ajax({
        url: '/ajax_list_photos/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        console.log(data);


        $("#gallery tbody").html("");

        var json = $.parseJSON(data);
            for(var i = 0; i < json.length; i++) {

                console.log(json[i]);

                 var data = json[i];
        
          
    console.log('enter');
    console.log(pk);
      if (data.is_valid) {
        $("#gallery tbody").prepend(
          "<tr><td><a href='" + data.url + "' target='_blank'>" + data.name + " </a></td></tr>"
        )
      }





                    }
      },

});










}




$('#button_enviar').on('click', function() {

var data_form = {
            titulo: $("#agregar_tarea  #id_titulo").val(),
            detalles: $("#agregar_tarea  #id_detalles").val(),
            fechav: $("#agregar_tarea #id_fechav").val(),
            fechac:  $("#agregar_tarea   #id_fechac").val(),
            estado: $("#agregar_tarea  #id_estado").val(),
            prioridad: $("#agregar_tarea  #id_prioridad").val(),
            owner: $("#agregar_tarea  #id_owner").val(),
            orden: $("#agregar_tarea  #id_orden").val(),

        }

    $.ajax({
        url: '/ajax_save_tarea/{{proyecto.pk}}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        var titulo = data.titulo
        var estado = data.estado
        var id = data.pk
        
  
  $('#agregar_tarea').modal('toggle');

       if (data.estado == '1'){

             $('.tareas_pendiente').append('<div class="tarea draggable" id="id_'+id+'" onclick="llamar_funciones('+id+');" type="button">'+titulo+'</div>');
        }


        else if (data.estado == '2'){ 
           $('.tareas_proceso').append('<div class="tarea draggable" id="id_'+id+'" onclick="llamar_funciones('+id+');" type="button">'+titulo+'</div>');

        }

        else if (data.estado == '3'){ 

             $('.tareas_completo').append('<div class="tarea draggable" id="id_'+id+'"onclick="llamar_funciones('+id+');" type="button">'+titulo+'</div>');
        }

         
                    }
      });

       
});



</script>
<!-- funcion rellenar campos  -->
<script type="text/javascript">
function fill_tarea(pk){

        $.ajax({
        url: '/ajax_fill_tarea/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '1',
        success: function (data) {

        console.log('fill_tarea');
        console.log(data);
        
        var titulo = data.titulo;
        var detalles = data.detalles;
        var fechav = data.fechav;
        var fechac = data.fechac;
        var estado = data.estado ;
        var prioridad = data.prioridad;
        var orden = data.orden;
     

         $('#detail_tarea #id_titulo').val(titulo);
         $('#detail_tarea #id_detalles').val(detalles);
         $('#detail_tarea #id_fechav').val(fechav);
         $('#detail_tarea #id_fechac').val(fechac);
         $('#detail_tarea #id_estado').val(estado);
         $('#detail_tarea #id_prioridad').val(prioridad);
         $('#detail_tarea #id_orden').val(orden);
         $('#detail_tarea #fileupload').form('csrfmiddlewaretoken',20); //setter
  

        },

});    

}

</script>

<script type="text/javascript">
function fill_tarea_imagen(pk){

$('#detail_tarea #id_tarea').val(pk);
         
}
</script>



<script type="text/javascript">
$(function () {
  /* 1. OPEN THE FILE EXPLORER WINDOW */
  $(".js-upload-photos").click(function () {
    $("#fileupload").click();
  });

  /* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
  $("#fileupload").fileupload({
    dataType: 'json',
    done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */

      console.log('enter');
      console.log($("#fileupload").attr('tarea_pk'));
      console.log('datos fileupload');
      console.log(data);
      if (data.result.is_valid) {



        $.ajax({
        url: '/ajax_set_img_pk/'+$("#fileupload").attr('tarea_pk')+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: '{"imgpk":'+data.result.imgpk+'}',
        success: function (data) {
        console.log(data);
        },
});    





        $("#gallery tbody").prepend(
          "<tr><td><a href='" + data.result.url + "' target='_blank'>" + data.result.name + " </a></td></tr>"
        )
      }
    }
  });

});
</script>


<script type="text/javascript">
function fill_comentario(pk){

$('#detail_tarea #id_tarea').val(pk);
         
}
</script>


<script type="text/javascript">
$('#button_update_tarea').on('click', function()  {
        var data_form = {
          titulo: $("#detail_tarea  #id_titulo").val(),
            detalles: $("#detail_tarea  #id_detalles").val(),
            fechav: $("#detail_tarea #id_fechav").val(),
            estado: $("#detail_tarea  #id_estado").val(),
            prioridad: $("#detail_tarea  #id_prioridad").val(),
            orden: $("#detail_tarea  #id_orden").val(),

           }
            
            // con el id del llenado de comentario lo 
            //ocupamos el id tarea para actualizar los datos de tarea
             pk = $("#detail_tarea  #id_tarea").val();
           



        $.ajax({
        url: '/ajax_save_fill_tarea/'+pk+'/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        window.location.reload();


  

        },

});    






        });

</script>
<script type="text/javascript">
$('#button_coment').on('click', function()  {
console.log('entro');
var data_form = {
            descripcion: $("#id_descripcion").val(),
            usuario: $("#id_usuario").val(),
            fecha: $("#id_fecha").val(),
            idtarea: $("#id_tarea").val(),
        }


         $.ajax({
        url: '/ajax_save_cometario/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        var descripcion = data.descripcion
        var usuario = data.usuario
        var fecha = data.fecha


        
        
  
  //funcion actualizar
$('#detail_tarea #list_comments .add_com').append('<tr><td>'+data.descripcion+'</td><td>'+data.usuario+'</td><td>'+moment(data.fecha).format('D-MM-YYYY, h:mm a')+'</td></tr>');
        


        $('#id_descripcion').val('');  //restable descripcion
        $('#id_fecha').val('');  //


                    }
      });

       

});
</script>



<!-- solo se ocupa en los template que tenga fecha -->
<script>
$('#id_fechav').datepicker({
    format: 'yyyy-mm-dd',
    startDate: '-3d'
       
});

</script>





<script type="text/javascript">
function llamar_funciones(pk){

  tarea_detalle(pk);
  fill_tarea(pk);
  fill_comentario(pk);
  
   

}


</script>

 <script>
  $('#detail_tarea #id_fechav').datepicker({
    format: 'yyyy-mm-dd',
     startDate: '-3d'
});
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!--  # JQUERY FILE UPLOAD SCRIPTS # -->
  <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery.fileupload.js' %}"></script>




       {% endblock%}


