{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>first_name</th>
                  <th>last name</th>
                  <th>phone</th>
                  <th>load</th>
                  <th>birthdate</th>
                </tr>
              </thead>
              <tbody>
{% for perfil in perfiles %}
                <tr>
                  <td>{{perfil.username}}</td>
                  <td>{{perfil.first_name}}</td>
                  <td>{{perfil.last_name}}</td>
                  <td>{{perfil.phone}}</td>
                  <td>{{perfil.load}}</td>
                  <td>{{perfil.birth_date}}</td>
                  <td></td>
                </tr>
{% endfor %} 
              </tbody>
          </div>
{% endblock %}