{% extends "base.html" %}

{% block head_content %}
<title>Seebaan - Iniciar sesión</title>
{% endblock%}
{% load static %}
{% block container %}

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif%}
     <div class="wrapper">
      <div class="block-center mt-4 wd-xl">
         <!-- START card-->
         <div class="card card-flat">
            <div class="card-header text-center bg-dark"><a href="#"><img class="block-center rounded" src="{% static 'img/logobn.png' %}" alt="Image" style="max-width: 150px;"></a></div>
                       <div class="card-body">
               <p class="text-center py-2">Iniciar Sesión</p>
          <form method="POST" action="{% url "login" %}">
              {% csrf_token %}

        <center><input type="text" placeholder="Username" name="username"/></center>
        <br>
        <center><input type="password" placeholder="Password" name="password"/></center>
         <br>
        <center><button type="submit">Ingresar!</button></center>

    </form>
    <p class="pt-3 text-center">Olvido su Contraseña?</p>
    <a class="btn btn-block btn-secondary" href="recover">Recuperar Contraseña
    </a>
            </div>
         </div><!-- END card-->
         <div class="p-3 text-center"><span class="mr-2">&copy;</span><span>2020</span><span class="mr-2"> -</span><span>Seebaan</span><br><span>Novemp</span></div>
      </div>
   </div>

 

{% endblock %}