{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'add_client' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

   
<p class="setup-help">Datos de la Empresa:</p>
          {% with formcli.empresa as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}



              {% with formcli.email_Corporativo as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}




                {% with formcli.pais as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}   


            {% with formcli.estado as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}   
              

            {% with formcli.municipio as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %} 


        {% with formcli.direccion_empresa as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}   

          {% with formcli.comentarios as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %} 


          {% with formcli.dominio as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %} 





              {% with formcli.origen as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <p>Origén</p>
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  



              {% with formcli.marca as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <p>Marca</p>
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %} 


              {% with formcli.ejecutivo as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}   



              <p class="setup-help">Contacto Principal:</p>
              {% with formcli.nombre as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  

                {% with formcli.apellido as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}     


                {% with formcli.email_Personal as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %} 


                {% with formcli.telefono as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}


                {% with formcli.celular as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}


                {% with formcli.date as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}


                     <div id="accordion1">
                  <div class="card b0 mb-2">
                     <div class="card-header">
                        <h4 class="card-title"><a class="text-inherit" data-toggle="collapse" data-parent="#accordion1" href="#acc1collapse1"><small><em class="fa fa-plus text-primary mr-2"></em></small><span>Contacto Secundario</span></a></h4>
                     </div>
                     <div class="collapse" id="acc1collapse1">
                        <div class="card-body">
                          


              {% with formcli.nombre2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  

                {% with formcli.apellido2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}     


                {% with formcli.email_Personal2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %} 


                {% with formcli.telefono2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}


                {% with formcli.celular2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}


                {% with formcli.date2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}




                        </div>
                     </div>
                  </div>
               </div>






                 <div id="accordion2">
                  <div class="card b0 mb-2">
                     <div class="card-header">
                        <h4 class="card-title"><a class="text-inherit" data-toggle="collapse" data-parent="#accordion2" href="#acc2collapse2"><small><em class="fa fa-plus text-primary mr-2"></em></small><span>Facturación</span></a></h4>
                     </div>
                     <div class="collapse" id="acc2collapse2">
                        <div class="card-body">
                          


              {% with formcli.rfc as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  


              {% with formcli.razonsocial as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  



              {% with formcli.direccion as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  



              {% with formcli.correo as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  



              {% with formcli.uso_cfdi as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  




              {% with formcli.comentario_factura as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  

                        </div>
                     </div>
                  </div>
    
                  
               </div>






                 <div id="accordion3">
                  <div class="card b0 mb-2">
                     <div class="card-header">
                        <h4 class="card-title"><a class="text-inherit" data-toggle="collapse" data-parent="#accordion3" href="#acc2collapse3"><small><em class="fa fa-plus text-primary mr-2"></em></small><span>Facturación Secundaria</span></a></h4>
                     </div>
                     <div class="collapse" id="acc2collapse2">
                        <div class="card-body">
                          


              {% with formcli.rfc_2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  


              {% with formcli.razonsocial_2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  



              {% with formcli.direccion_2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  



              {% with formcli.correo_2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  



              {% with formcli.uso_cfdi_2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  




              {% with formcli.comentario_factura_2 as field %}
                    <div class="form-group col-md-12 col-md-offset-2 {% if field.errors %}has-error{% endif %}">
                        <div class="col-md-12">
                            <div class="input-group">     
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <span class="help-block">
                                                {{ field.errors.as_text }}
                                            </span>
                            {% endif %}
                              <p class="text-help"></p>
                        </div>
                    </div>
                {% endwith %}  

                        </div>
                     </div>
                  </div>
    
                  
               </div>










                {% if formcli.errors %}
                    <p class="alert alert-danger">{{ formcli.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" class="btn btn-primary btn-block mt-5">Enviar</button>
            </form>


        </div>
    </div>
</div>




{% endblock %}


   {% block footer %}

   <script>
  $('#id_date').datepicker({
    format: 'yyyy-mm-dd',
     startDate: '01/01/1990'
});

    $('#id_date2').datepicker({
    format: 'yyyy-mm-dd',
     startDate: '01/01/1990'
});
</script>




        <script type="text/javascript">

            $(document).ready(function () {

                if ('{{ formcli.estado.value }}' !== "" && '{{ formcli.estado.value }}' !== "None") {
                    var url_filtro_municipios = '/filtros/municipios/{{ formcli.estado.value }}/';
                    obtener_municipios(url_filtro_municipios);
                }

                $('#id_estado option').each(function () {
                    if (this.selected) {
                        var optionSelected = $("option:selected", this);
                        if (optionSelected.val()) {
                            var valueSelected = this.value;
                            var url_filtro_municipios = '/filtros/municipios/' + valueSelected + '/';
                            obtener_municipios(url_filtro_municipios);
                        } else {
                            $('#id_municipio').empty();
                        }
                    }

                });

                $('#id_estado').on('change', function (e) {

                    var optionSelected = $("option:selected", this);
                    if (optionSelected.val()) {
                        var valueSelected = this.value;
                        var url_filtro_municipios = '/filtros/municipios/' + valueSelected + '/';
                        obtener_municipios(url_filtro_municipios);
                    } else {
                        $('#id_municipio').empty();
                    }

                });


$("#id_estado").prepend("<option disabled='disabled' selected value=''>Estado</option>");


$("#id_municipio").prepend("<option disabled='disabled' selected value=''>Municipio</option>");



            });


            function obtener_estados(url_filtro_estado) {

                $.getJSON(url_filtro_estado, function (data) {

                    $('#id_estado').empty();

                    $("#id_estado").prepend("<option disabled='disabled' selected value=''>----</option>");

                    if (data.length == 0) {

                        $("#no-user").show();
                        //$(".maxfiles").hide();
                        console.log(data.length);
                    } else {
                        $("#no-user").hide();
                    }

                    $.each(data, function (key, val) {

                        $('#id_estado').append($('<option>', {
                            value: val.pk,
                            text: val.estado
                        }));

                    });

                    if ('{{val_estado}}' !== "") {
                        $('#id_estado').val('{{profile_form.estado.value}}');
                        $('#id_estado option[value={{profile_form.estado.value}}]').val('{{profile_form.estado.value}}').attr('selected', 'selected');
                    }


                    //console.log(data);
                });


            };

            function obtener_municipios(url_filtro_municipios) {

                $.getJSON(url_filtro_municipios, function (data) {

                    $('#id_municipio').empty();

                    $("#id_municipio").prepend("<option disabled='disabled' selected value=''>----</option>");

                    if (data.length == 0) {

                        $("#no-user").show();
                        //$(".maxfiles").hide();
                        console.log(data.length);
                    } else {
                        $("#no-user").hide();
                    }

                    $.each(data, function (key, val) {

                        $('#id_municipio').append($('<option>', {
                            value: val.pk,
                            text: val.municipio
                        }));

                    });
                    if ('{{formcli.municipio.value}}' !== "") {
                        $('#id_municipio').val('{{formcli.municipio.value}}');
                        $('#id_municipio option[value={{formcli.municipio.value}}]').val('{{formcli.municipio.value}}').attr('selected', 'selected');
                    }


                    //console.log(data);
                });

            };


        </script>





                  {% endblock%}