{% extends "base_user.html" %}
{% load static %}

{% block head_content %}
<title>Detalle de cliente</title>
{% endblock %}


{% block titulo %}Detalle de cliente<div class="ml-auto">
<a href="/add_proyecto_cliente/{{clientes.pk}}"><button class="btn btn-secondary btn-sm btn-addp" type="button">Agregar Proyecto</button></a></div>
  {% endblock%}




{% block container %}
 <div class="row"> <!-- ROW 2-->

   <div class="col-xl-12"><!--  Start colum 6-->
       <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Estado</th>
                  <th>Ciudad</th>
                  <th>Dominio</th>
                  <th>Comentarios</th>
                  <th>Origen</th>
                  <th>Marca</th>
                  <th>Ejecutivo</th>

                  <th>Editar</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{clientes.empresa}}</td>
                  <td>{{clientes.estado}}</td>
                  <td>{{clientes.municipio}}</td>
                  <td>{{clientes.dominio}}</td>
                  <td>{{clientes.comentarios}}</td>

                  <td>{{clientes.origen}}</td>
                  <td>{{clientes.marca}}</td>
                  <td>{{clientes.ejecutivo}}</td>

                   <td><a href="/edit_client/{{clientes.pk}}">Editar</a></td>
                </tr>

              </tbody>

                </table>
          </div>

<h5 class="text-dark"><strong>Contacto Principal</strong></h5>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Nombre(s)</th>
                  <th>Apellido(s)</th>
                  <th>Teléfono</th>
                   <th>Celular</th>
                  <th>Cumpleaños</th>
                  
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{clientes.nombre}}</td>
                  <td>{{clientes.apellido}}</td>
                  <td>{{clientes.telefono}}</td>
                  <td>{{clientes.celular}}</td>
                  <td>{{clientes.date}}</td>
                </tr>

              </tbody>

                </table>
          </div>



<h5 class="text-dark"><strong>Contacto Secundario</strong></h5>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Nombre(s)</th>
                  <th>Apellido(s)</th>
                  <th>Teléfono</th>
                   <th>Celular</th>
                  <th>Cumpleaños</th>
                  
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{clientes.nombre2}}</td>
                  <td>{{clientes.apellido2}}</td>
                  <td>{{clientes.telefono2}}</td>
                  <td>{{clientes.celular2}}</td>
                  <td>{{clientes.date2}}</td>
                </tr>

              </tbody>

                </table>
          </div>


<h5 class="text-dark"><strong>Facturación</strong></h5>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>RFC</th>
                  <th>Razón Social</th>
                  <th>Dirección</th>
                   <th>Correo</th>
                  <th>Uso CFDI</th>
                  <th>Comentario</th>
                  
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{clientes.rfc}}</td>
                  <td>{{clientes.razonsocial}}</td>
                  <td>{{clientes.direccion}}</td>
                  <td>{{clientes.correo}}</td>
                  <td>{{clientes.uso_cfdi}}</td>
                  <td>{{clientes.comentario_factura}}</td>
                </tr>

              </tbody>

                </table>
          </div>



</div>
<!-- END colum 6-->


   <div class="col-xl-12"><!--  Start colum 6-->
                  <!-- Team messages-->
                  <div class="card card-default">
                     <div class="card-header">
                        <div class="px-2 float-right badge badge-danger">-</div>
                        <div class="card-title">Proyectos</div>
                     </div><!-- START list group-->
                     <div class="list-group slimScrollDiv" data-height="180" data-scrollable="">
                  


                  <div class="tdiscu">
               
{% for proyecto in proyectos %}

 <!-- START list group item-->
                         <a href="/detail_proyecto/{{proyecto.pk}}"><div class="list-group-item list-group-item-action">
                           <div class="media">
                            <div class="media-body text-truncate">
                                
                                 <p class="mb-1 text-sm"><span class="circle bg-danger circle-lg text-left"></span> {{proyecto.nombre}}</p>
                                 <p class="mb-1 text-sm">Monto: ${{proyecto.monto}}</p>
                              </div>
                              <div class="ml-auto"><div class="badge p-1 bg-gray">{{proyecto.get_estado_display}}</div> <small class="text-muted ml-2"> {{proyecto.fecha}}</small></div>
                           </div>
                        </div></a><!-- END list group item-->


              
{% endfor %} 
</div>
                     </div><!-- END list group-->
                     <!-- START card footer-->
                     <div class="card-footer">
                         
                     </div><!-- END card-footer-->
                  </div><!-- End Team messages-->
                   </div><!-- END colum 6-->
           


</div>

{% endblock %}