{% extends "base_user.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

            
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            
                {% csrf_token %}

   {{ form }}
                {% if form.errors %}
                    <p class="alert alert-danger">{{ formcli.errors }}</p>
                {% endif %}


                <hr><br>

                <button type="submit" id="button_update_client" class="btn btn-primary btn-block mt-5">Enviar</button>
            


        </div>
    </div>
</div>

{% endblock %}


{% block footer %}


<script type="text/javascript">
$('#button_update_client').on('click', function()  {
        var data_form = {
            nombre: $('#id_nombre').val(),
         email_Corporativo: $('#id_email_Corporativo').val(),
         email_Personal: $('#id_email_Personal').val(),
         telefono: $('#id_telefono').val(),
         empresa: $('#id_empresa').val(),
         ciudad: $('#id_ciudad').val(),
         comentarios: $('#id_comentarios').val(),
         date: $('#id_date').val(),
         dominio: $('#id_dominio').val(),
           }
            

        $.ajax({
        url: '/ajax_save_fill_client/{{ cliente.pk }}/',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data_form),
        success: function (data) {

        console.log(data);
        
        if(data.success == 1){
            window.location.href = "/detail_client/{{ cliente.pk }}/";
        }


  

        },

});    






        });

</script>



{% endblock %}