{% extends "base_user.html" %}
{% load static %}

{% block head_content %}
<title>Lista de Clientes</title>
{% endblock %}

{% block titulo %}Lista de Clientes
<div class="ml-auto">
 <form class="form-horizontal" action="{% url 'searchc' %}" method="get">
                           <div class="input-group">
                              <div class="row">
                                 <div class="col-ml-4">
                                 <input name="data" class="form-control" type="text" placeholder="Buscar..."><span class="input-group-btn">
                                 </div>
                    
                     <div class="col-ml-4">
                              <input  class="btn btn-secondary" type="submit" placeholder="Buscar"></span>
                     </div>

                       </div>
                       </div>
                        </form>





<a href="/add_client"><button class="btn btn-secondary btn-sm btn-addp" type="button">Agregar Cliente</button></div></a>

{% endblock%}

{% block container %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Nombre</th>
                 <th>Email Corporativo</th>
                  <th>Empresa</th>
                  <th>Detalle</th>
                </tr>
              </thead>
              <tbody>
{% for client in clientes %}
                <tr>
                  <td>{{client.nombre}}</td>
                  <td>{{client.email_Corporativo}}</td>
                  <td>{{client.empresa}}</td>
                  <td><a href="/detail_client/{{client.pk}}">Ver detalle</a></td>
                </tr>
{% endfor %} 
              </tbody>
          </div>
{% endblock %}