<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="Bootstrap Admin App">
      <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <link rel="icon" type="image/x-icon" href="favicon.ico">
      {% block head_content %}{% endblock %}


      {% load static %}
           <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/brands.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/regular.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/solid.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/fontawesome.css' %}"><!-- SIMPLE LINE ICONS-->
      <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}"><!-- ANIMATE.CSS-->
      <link rel="stylesheet" href="{% static 'vendor/animate.css/animate.css' %}"><!-- WHIRL (spinners)-->
      <link rel="stylesheet" href="{% static 'vendor/whirl/dist/whirl.css' %}"><!-- =============== PAGE VENDOR STYLES ===============-->

      <!-- DATETIMEPICKER-->
   <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">


      <!-- =============== BOOTSTRAP STYLES ===============-->
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" id="bscss"><!-- =============== APP STYLES ===============-->
      <link rel="stylesheet" href="{% static 'css/app.css' %}" id="maincss">
       <link rel="stylesheet" href="{% static 'css/custom.css' %}" id="maincss">
</head>

<body>
 <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <!-- START Top Navbar-->
         <nav class="navbar topnavbar">
            <!-- START navbar header-->
            <div class="navbar-header"><a class="navbar-brand" href="#/">
                  <div class="brand-logo"><img class="img-fluid" src="{% static 'img/logobn.png' %}" alt="Seeban"></div>
                  <div class="brand-logo-collapsed"><img class="img-fluid" src="{% static 'img/logobn.png' %}" alt="App Logo"></div>
               </a></div><!-- END navbar header-->
            <!-- START Left navbar-->
            <ul class="navbar-nav mr-auto flex-row">
               <li class="nav-item">
                  <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops--><a class="nav-link d-none d-md-block d-lg-block d-xl-block" href="#" data-trigger-resize="" data-toggle-state="aside-collapsed"><em class="fas fa-bars"></em></a><!-- Button to show/hide the sidebar on mobile. Visible on mobile only.--><a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true"><em class="fas fa-bars"></em></a></li><!-- START User avatar toggle-->
              
               <!-- START lock screen-->
               <li class="nav-item d-none d-md-block"><a class="nav-link" href="/logout" title="Lock screen"><em class="icon-lock"></em></a></li><!-- END lock screen-->
            </ul><!-- END Left navbar-->
            <!-- START Right Navbar-->
            <ul class="navbar-nav flex-row">
               <!-- Search icon-->
               
               <div class="" id="profile-box">
            
               </div>
              

            </ul><!-- END Right Navbar-->
            <!-- START Search form-->
            <form class="navbar-form" role="search" action="search.html">
               <div class="form-group"><input class="form-control" type="text" placeholder="Type and hit enter ...">
                  <div class="fas fa-times navbar-form-close" data-search-dismiss=""></div>
               </div><button class="d-none" type="submit">Submit</button>
            </form><!-- END Search form-->
         </nav><!-- END Top Navbar-->
      </header><!-- sidebar-->
      <aside class="aside-container">
         <!-- START Sidebar (left)-->
         <div class="aside-inner">
       
       <nav class="sidebar" data-sidebar-anyclick-close="">
               <!-- START sidebar nav-->
               <ul class="sidebar-nav">
               
                  <!-- Iterates over all sidebar items-->
                  <li class="nav-heading "><span data-localize="sidebar.heading.HEADER">Menu</span></li>
               
                  <li class=" "><a href="/" title="Widgets">
                      <em class="icon-grid"></em><span data-localize="sidebar.nav.WIDGETS">Lista</span>
                  </a></li>
              
                  <li class=" "><a href="#layout" title="Layouts" data-toggle="collapse"><em class="icon-layers"></em><span>Clientes</span></a>
                     <ul class="sidebar-nav sidebar-subnav collapse" id="layout">
                        <li class="sidebar-subnav-header">Clientes</li>
                        <li class=" "><a href="/list_client" title="Lista Clientes"><span>Lista de clientes</span></a></li>
                         <li class=" "><a href="/add_client" title="Agregar Cliente"><span>Agregar Cliente</span></a></li>
                     </ul>
                  </li>


                  <li class=" "><a href="#proyectos" title="Proyectos" data-toggle="collapse"><em class="icon-layers"></em><span>Proyectos</span></a>
                     <ul class="sidebar-nav sidebar-subnav collapse" id="proyectos">
                        <li class="sidebar-subnav-header">Proyectos</li>
                        <li class=" "><a href="/list_proyecto" title="Lista Proyectos"><span>Lista de Proyectos</span></a></li>
                        <li class=" "><a href="/my_projects" title="Mis Proyectos"><span>Mis Proyectos</span></a></li>
                         <li class=" "><a href="/add_proyecto" title="Agregar Proyecto"><span>Agregar Proyecto</span></a></li>
                     </ul>
                  </li>


                 
               

                  </li>
                  


                 
               </ul><!-- END sidebar nav-->
            </nav>


         </div><!-- END Sidebar (left)-->
      </aside><!-- offsidebar-->
      <aside class="offsidebar d-none">
         <!-- START Off Sidebar (right)-->
     
      </aside><!-- Main section-->
      <section class="section-container">
         <!-- Page content-->
         <div class="content-wrapper">

            <div class="content-heading">
                {% block titulo %}{% endblock%}<!-- START Language list-->
            </div>


            
                 {% block container %}

                 
                  {% endblock%}
                  </div><!-- START card-->
          
      </section><!-- Page footer-->
     
   </div>



    
    <!-- =============== VENDOR SCRIPTS ===============-->
   
      <script src="{% static 'vendor/modernizr/modernizr.custom.js' %}"></script><!-- STORAGE API-->
      <script src="{% static 'vendor/js-storage/js.storage.js' %}"></script><!-- SCREENFULL-->
      <script src="{% static 'vendor/screenfull/dist/screenfull.js' %}"></script><!-- i18next-->
      <script src="{% static 'vendor/i18next/i18next.js' %}"></script>
      <script src="{% static 'vendor/i18next-xhr-backend/i18nextXHRBackend.js' %}"></script>
      <script src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
      <script src="{% static 'vendor/popper.js/dist/umd/popper.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
         <script src="{% static 'vendor/moment/min/moment-with-locales.js' %}"></script>

      <!-- DATETIMEPICKER-->
   <script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>

   <!-- =============== PAGE VENDOR 

      SCRIPTS ===============-->
      <script src="{% static 'js/app.js' %}"></script>


       {% block footer %}
                  {% endblock%}
</body>

</html>