<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
  <link rel="icon" href="templates/favicon.ico">
    {% block head_content %}{% endblock %}


   {% load static %}
           <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/brands.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/regular.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/solid.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/fontawesome.css' %}"><!-- SIMPLE LINE ICONS-->

   <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">

      <!-- =============== BOOTSTRAP STYLES ===============-->
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" id="bscss"><!-- =============== APP STYLES ===============-->
      <link rel="stylesheet" href="{% static 'css/app.css' %}" id="maincss">

</head>
<body>

   
        {% block container %}
        {% endblock%}


<!-- =============== VENDOR SCRIPTS ===============-->
   
      <script src="{% static 'vendor/modernizr/modernizr.custom.js' %}"></script><!-- STORAGE API-->
      <script src="{% static 'vendor/js-storage/js.storage.js' %}"></script><!-- SCREENFULL-->
      <script src="{% static 'vendor/screenfull/dist/screenfull.js' %}"></script><!-- i18next-->
      <script src="{% static 'vendor/i18next/i18next.js' %}"></script>
      <script src="{% static 'vendor/i18next-xhr-backend/i18nextXHRBackend.js' %}"></script>
      <script src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
      <script src="{% static 'vendor/popper.js/dist/umd/popper.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>

   <!-- =============== PAGE VENDOR 

      SCRIPTS ===============-->
      <script src="{% static 'js/app.js' %}"></script>

</body>
</html>

