

.tarea {
    border: 1px solid #d6d6d6;
    /* border-top: 1px solid #d6d6d6; */
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(92,92,92,1);
    -moz-box-shadow: 0px 0px 3px -1px rgba(92,92,92,1);
    box-shadow: 0px 0px 3px -1px rgba(92,92,92,1);
}


.tareas_pendiente .tarea {
    background: #ffe6e6;
}


.tareas_proceso .tarea {
    background: #fffec7;
}


.tareas_completo .tarea {
    background: #d9ffe0;
}

.btn-addp {
    margin-top: 10px!important;
    /* padding-top: 51px; */
    display: block;
}